openapi: 3.1.0
info:
  title: In Transit Visibility API
  description: |
    The In Transit Visibility API provides insight into a shipment's movement as it navigates through the pickup and delivery process. Once the carrier has picked up the shipment, shippers will be able to understand where the shipment is in transit between pickup and delivery.

    This In Transit Visibility API will include all status updates along the path of the shipment and starts when the carrier acknowledges they have a shipment and ends when the carrier delivers the shipment to the receiver and the receiver acknowledges receipt.

    This YAML is intended to provide guidance and is not executable code. Implementers are encouraged to use provided structure and data elements where possible, however, implementation decisions including endpoint structure and available data are at the implementers discretion.

    The API structure includes elements that may not be applicable to all implementation. For instance, the security section contains both bearerAuth and apiKeyAuth, however, implementers may choose to use one or both.
  version: '1.2'
  x-prd-version: September 2026
  contact:
    name: NMFTA Digital LTL Council
    email: support@nmfta.org
  license:
    name: NMFTA License
    url: https://github.com/dsdcapis/less-than-truckload/blob/main/LICENSE.md
servers:
  - url: https://api.nmfta.org/in-transit/v1
    description: Production server
  - url: https://staging-api.nmfta.org/in-transit/v1
    description: Staging server
security:
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: Verified Shipment Status Queries
    description: Get shipment information with an identifying number by a verified account.
  - name: Notifications
    description: Subscribe/unsubscribe shipment notifications to webhook.
  - name: Public Shipment Status Queries
    description: Get shipment information with an identifying number.
paths:
  /shipment/pro/{proNumber}/verified:
    get:
      summary: Shipment information by Pro Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Verified Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '202':
          description: Shipment found successfully, not associated with Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by Pro Number
      parameters:
        - name: proNumber
          in: path
          required: true
          description: The carrier assigned Pro Number associated with the shipment.
          schema:
            type: string
          example: 123456789
  /shipment/bol/{bolNumber}/{originPostalCode}/verified:
    get:
      summary: Shipment information by BOL Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Verified Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '202':
          description: Shipment found successfully, not associated with Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by BOL Number
      parameters:
        - name: bolNumber
          in: path
          required: true
          description: The BOL Number associated with the shipment.
          schema:
            type: string
          example: 123456789
        - name: originPostalCode
          in: path
          required: true
          description: The Origin Postal Code associated with the shipment.
          schema:
            type: string
          example: '1234512345'
  /shipment/po/{poNumber}/{destinationPostalCode}/verified:
    get:
      summary: Shipment information by the PO Number.
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Verified Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '202':
          description: Shipment found successfully, not associated with Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by PO Number
      parameters:
        - name: poNumber
          in: path
          required: true
          description: The PO Number associated with the shipment.
          schema:
            type: string
          example: 123456789
        - name: destinationPostalCode
          in: path
          required: true
          description: |
            The Destination Postal Code associated with the shipment.
          schema:
            type: string
          example: 1234512345
  /shipment/po/{accountNumber}/{startDate}/{endDate}/verified:
    get:
      summary: |
        Shipment information by account number and by date range.
      description: |
        Shipment information by account number and within a certain date range with a logged in account
      tags:
        - Verified Shipment Status Queries
      responses:
        '200':
          description: One or more shipments found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '204':
          description: No shipments found within a given date range for the account
        '401':
          description: The user is not logged in or the user does not have access to this account information.
        '404':
          description: The account is not found.
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: The Account Number associated with the shipment.
          schema:
            type: string
        - name: startDate
          in: path
          required: true
          description: |
            The pick-up start date of a range to search for shipments
          schema:
            type: string
            format: date-time
        - name: endDate
          in: path
          required: true
          description: |
            The pick-up end date of a range to search for shipments
          schema:
            type: string
            format: date-time
  /notifications/subscribe:
    post:
      summary: |
        Subscribe to shipment events
      description: |
        Endpoint to allow subscribing to real-time webhook events. You will need to provide a POST endpoint to consume this information.


        The various notification objects can be found at the bottom of the page under the schemas section with the objects starting with <pre>Notification_</pre> or <pre>Notification_Exception_</pre> or <pre>Notification_WorkflowException_</pre>.

        You will receive a Transaction ID that you can use to unsubscribe later if needed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                referenceNumbers:
                  type: array
                  items:
                    type: string
                  description: An array reference numbers to identify shipments to subscribe for events
                webhookUrl:
                  type: string
                  description: URL for the webhook to listen for shipment events.
              required:
                - items
                - propertyName
            example:
              referenceNumbers:
                - string1
                - string2
                - string3
              webhookUrl: example-value
      callbacks:
        ShipmentEventSubscription:
          /callbackUrl:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      oneOf:
                        - $ref: '#/components/schemas/Notification_DeliveryUpdate'
                        - $ref: '#/components/schemas/Notification_DeliveryInformation'
              responses:
                '200':
                  description: OK
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Response message
                  transactionId:
                    oneOf:
                      - type: string
                      - type: integer
                    description: Transaction identifier that can be either a string or an integer
                required:
                  - message
                  - transactionId
              examples:
                String-based Transaction ID:
                  value:
                    message: Subscription completed
                    transactionId: TXN-123456
                Integer-based Transaction ID:
                  value:
                    message: Subscription completed
                    transactionId: 987654
        '401':
          description: The user is not logged in or the user does not have access to modify this subscription.
      tags:
        - Notifications
  /notifications/unsubscribe/{transactionId}:
    delete:
      summary: |
        Unsubscribe from shipment events
      description: |
        Endpoint to allow unsubscribing from real-time webhook events.
      tags:
        - Notifications
      responses:
        '200':
          description: Successfully unsubscribed from webhook events
        '401':
          description: The user is not logged in or the user does not have access to modify this subscription.
        '404':
          description: The requested subscription is not found.
      parameters:
        - name: transactionId
          in: path
          required: true
          description: The transaction ID that was previously received during subscription that you wish to unsubscribe from.
          schema:
            type:
              - string
              - integer
  /shipment/pro/{proNumber}/public:
    get:
      summary: Shipment information by Pro Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Public Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by Pro Number
      parameters:
        - name: proNumber
          in: path
          required: true
          description: The carrier assigned Pro Number associated with the shipment.
          schema:
            type: string
          example: 123456789
  /shipment/bol/{bolNumber}/{originPostalCode}/public:
    get:
      summary: Shipment information by BOL Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Public Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by BOL Number
      parameters:
        - name: bolNumber
          in: path
          required: true
          description: The BOL Number associated with the shipment.
          schema:
            type: string
          example: 123456789
        - name: originPostalCode
          in: path
          required: true
          description: The Origin Postal Code associated with the shipment.
          schema:
            type: string
  /shipment/po/{poNumber}/{destinationPostalCode}/public:
    get:
      summary: Shipment information by the PO Number.
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Public Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by PO Number
      parameters:
        - name: poNumber
          in: path
          required: true
          description: The PO Number associated with the shipment.
          schema:
            type: string
          example: 123456789
        - name: destinationPostalCode
          in: path
          required: true
          description: |
            The Destination Postal Code associated with the shipment.
          schema:
            type: string
          example: 1234512345
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    ShipmentSearchPublicResponse:
      type: object
      required:
        - ProNumber
        - ShipmentMilestoneStatus
        - UpdatedETA
        - EstimatedStandardDay
      properties:
        ProNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        ShipmentMilestoneStatus:
          type: string
          enum:
            - Picked-up
            - In Transit
            - Interline
            - Out for Delivery
            - Delivered
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date (with or without time) the shipment is expected to be delivered.
        EstimatedStandardDay:
          type: integer
          description: Days in transit
    ShipmentStatusVerifiedResponse:
      type: object
      required:
        - ProNumber
        - ReferenceNumbers
        - UniqueID
        - UpdatedPro
        - PayType
        - ShipType
        - PickupAddress
        - BillToAddress
        - BillToAccountNumber
        - ConsigneeAddress
        - DESaccessorial
        - DESLimitedAccess
        - TimeCriticalType
        - TimeCriticalInfo
        - GrossWeight
        - ShipmentMilestoneStatus
        - ShipmentMilestoneStatusLong
        - ShipmentTerminalInfo
        - TimeZoneOfShipment
        - UpdatedETA
        - EstimatedStandardDay
        - EstimatedDeliveryDate
        - Reconsignment
        - ShipmentShortage
        - ShipmentDamage
        - AllShortOrLostShipment
        - Late
        - AppointmentRequired
        - CrossBorder
      properties:
        ProNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        ReferenceNumbers:
          $ref: '#/components/schemas/referenceNumbers'
        UniqueID:
          type: string
          description: Pro + SCAC + Carrier eBOL Create Date (YYYYMMDD).
        UpdatedPro:
          type:
            - string
            - 'null'
          description: Additional PRO associated with the shipment. Examples include new PRO due to reconsignment or partner carrier PRO for interline.
        PayType:
          type: string
          description: Identifies terms of shipment (e.g., Prepaid or Collect).
        ShipType:
          type: string
          description: Identifies the payor of the shipment (Shipper, Consignee, or Third Party).
        PickupAddress:
          $ref: '#/components/schemas/standardAddress'
        BillToAddress:
          $ref: '#/components/schemas/standardAddress'
        BillToAccountNumber:
          type: string
          description: Account number for Bill To.
        ConsigneeAddress:
          $ref: '#/components/schemas/standardAddress'
        DESaccessorial:
          type:
            - array
            - 'null'
          description: |
            An array to hold the list of services requested for the shipment

            Valid Values: See the AccessorialCodes schema at the bottom of
            this page.
          items:
            type: string
        DESLimitedAccess:
          type:
            - string
            - 'null'
          $ref: '#/components/schemas/limitedAccessType'
        TimeCriticalType:
          type:
            - string
            - 'null'
          $ref: '#/components/schemas/timeCriticalTypes'
        TimeCriticalInfo:
          type: object
          $ref: '#/components/schemas/timeCriticalInfo'
        GrossWeight:
          type: number
          description: Weight in pounds of total shipment.
        Commodities:
          $ref: '#/components/schemas/commodity'
        HandlingUnits:
          $ref: '#/components/schemas/handlingUnit'
        ShipmentLocation:
          $ref: '#/components/schemas/standardAddress'
        ShipmentMilestoneStatus:
          type: string
          enum:
            - Picked-up
            - In Transit
            - Interline
            - Out for Delivery
            - Delivered
        ShipmentMilestoneStatusLong:
          type:
            - string
            - 'null'
          description: Optional field for carriers to provide carrier-specific status information.
        ShipmentTerminalInfo:
          $ref: '#/components/schemas/terminalInfo'
        TimeZoneOfShipment:
          type:
            - string
            - 'null'
          description: The time in UTC (-X format) of current location.
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date, with or without time, that the shipment is expected to be delivered.
        EstimatedStandardDay:
          type: integer
          description: Days in transit
        EstimatedDeliveryDate:
          type: string
          format: date-time
          description: The original date, with or without time, that the shipment was expected to be delivered.
        OFDStopsAway:
          type:
            - integer
            - 'null'
          description: Indicates the number of stops away from the delivery destination, such as 3, 2, or 1 stop away.
        Reconsignment:
          type:
            - boolean
            - 'null'
          default: false
          description: Indicates if the shipment was reconsigned in transit. Values are true or false. The default is false.
        ShipmentShortage:
          type:
            - boolean
            - 'null'
          default: false
          description: Indicates if product was lost in transit.  Values are true or false. The default is false.
        ShipmentDamage:
          type:
            - boolean
            - 'null'
          default: false
          description: Indicates if the product was damaged in transit.  Values are true or false. The default is false.
        AllShortOrLostShipment:
          type:
            - boolean
            - 'null'
          default: false
          description: Indicates if this shipment is entirely lost in transit.  Values are true or false. The default is false.
        Late:
          type:
            - boolean
            - 'null'
          default: false
          description: Indicates if the shipment is going to be later than the original delivery date.  Values are true or false. The default is false.
        DelayReasonCode:
          type:
            - string
            - 'null'
          description: |
            Only required if Late = true. 
          $ref: '#/components/schemas/delayReasonCodes'
        AppointmentRequired:
          type:
            - boolean
            - 'null'
          default: false
          description: Indicates if an appointment is required.  Values are true or false. The default is false.
        AppointmentStatus:
          type:
            - string
            - 'null'
          enum:
            - Requested
            - Secured
            - Missed
          description: Indicates an appointment status of Requested, Secured, or Missed.
        AppointmentDate:
          type:
            - string
            - 'null'
          format: date-time
          description: The original date and time of the appointment.
        PartnerCarrierName:
          type:
            - string
            - 'null'
          description: |
            Required if ShipmentMilestone = Interline

            The Interline or Agent Carrier's Name.
        PartnerCarrierSCAC:
          type:
            - string
            - 'null'
          description: |
            Required if ShipmentMilestone = Interline 

            The Interline or Agent Carrier's SCAC.
        CrossBorder:
          type:
            - boolean
            - 'null'
          default: false
          description: Indicates if cross border services are required.  Values are true or false. The default is false.
        CrossBorderStatus:
          type:
            - string
            - 'null'
          enum:
            - Bond
            - Hold
            - ClearedCustoms
          description: |
            Required if CrossBorder = true

            Indicates a status of In Bond, Hold, or Cleared Customs.
        CrossBorderEntryNumber:
          type:
            - string
            - 'null'
          description: The entry authorization number
        PODAvailable:
          type:
            - boolean
            - 'null'
          default: false
          description: Indicates if POD is available.  Values are true or false. The default is false.
    Notification_DeliveryUpdate:
      type: object
      description: This message provides verified stakeholders proactive alerts on a shipments physical movements. Updates included in the message are dependent on carriers capabilities. Carriers that can send more information are always encouraged to do so.
      required:
        - proNumber
        - shipmentReferenceNumbers
        - shipmentMilestoneStatus
        - TimeZoneOfShipment
        - UpdatedETA
        - notificationMessage
      properties:
        proNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        shipmentReferenceNumbers:
          $ref: '#/components/schemas/referenceNumbers'
        shipmentMilestoneStatus:
          description: note "Delivered" status should not be triggered until shipment is in custody of final consignee. "Interline" is the correct status for transfer to Interline partner carrier if detailed milestones are unavailable.
          type: string
          enum:
            - Picked-up
            - In Transit
            - Interline
            - Out for Delivery
            - Delivered
        TimeZoneOfShipment:
          type:
            - string
            - 'null'
          description: The time in UTC (-X format) of current location.
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date, with or without time, that the shipment is expected to be delivered.
        notificationMessage:
          type: string
          description: optional field for carriers to provide more detailed information or human-readable descriptions
        terminalStatus:
          type: string
          enum:
            - Arrived
            - Unloaded
            - Loaded
            - Departed
            - Damaged
            - Short
            - Lost
            - Reconsigned
        terminaltype:
          type: string
          enum:
            - origin
            - intermediate
            - delivery
            - interline
        terminalAddress:
          $ref: '#/components/schemas/terminalInfo'
        trailerNumber:
          type:
            - string
            - 'null'
          description: Trailer number currently transporting shipment.
        countsToDelivery:
          description: Applies only when shipmentMilestoneStatus is Out for Delivery. Trigger proactive notification updates. Starting from within 3 Stops from Shipment Delivery Indicate the number of stops until that order delivery is scheduled. No timing estimates nor mileage only the number of stops. Update the count down from 3 to 2 to 1.
          type: integer
          example:
            - 3
            - 2
            - 1
        UpdatedPro:
          type:
            - string
            - 'null'
          description: Additional PRO associated with the shipment. Examples include new PRO due to reconsignment or partner carrier PRO for interline.
        PartnerCarrierName:
          type:
            - string
            - 'null'
          description: |
            Required if ShipmentMilestone = Interline or if shipment has been handed off to an Interline carrier.
            The Interline or Agent Carrier's Name.
        PartnerCarrierSCAC:
          type:
            - string
            - 'null'
          description: |
            Required if ShipmentMilestone = Interline or if shipment has been handed off to an Interline carrier.
            The Interline or Agent Carrier's SCAC.
    Notification_DeliveryInformation:
      type: object
      description: This message provides verified stakeholders proactive informational alerts not related to a shipments shipmentMilestoneStatus.
      required:
        - proNumber
        - shipmentReferenceNumbers
        - deliveryInformation_messages
      properties:
        proNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        shipmentReferenceNumbers:
          $ref: '#/components/schemas/referenceNumbers'
        TimeZoneOfShipment:
          type:
            - string
            - 'null'
          description: The time in UTC (-X format) of current location.
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date, with or without time, that the shipment is expected to be delivered.
        deliveryInformation_messages:
          type: string
          description: valid messages for notification_deliveryInformation webhook
          enum:
            - POD available
            - Noted late
            - Accessorial added
            - Noted reweigh
            - Appointment Update
            - Missed delivery
            - Customs information
        delayReasonCode:
          type: string
          $ref: '#/components/schemas/delayReasonCodes'
        appointmentDate:
          type: string
          format: date-time
        appointmentStatus:
          type: string
          enum:
            - appointment scheduled
            - appointment rescheduled
            - appointment missed
        utcOffset:
          type: string
        terminalStatus:
          type: string
          enum:
            - Arrived
            - Unloaded
            - Loaded
            - Departed
            - Damaged
            - Short
            - Lost
            - Reconsigned
        responsibleParty:
          type: string
          description: e.g., Customer Error
        majorStatusCategory:
          type: string
          description: e.g., Closed Shipment
        generalDescription:
          type: string
          description: e.g., Delivery Request Cancelled
        carrierSpecificDescription:
          type: string
          description: e.g., Customer Request Cancelled
        customsAgent:
          $ref: '#/components/schemas/customsAgentBroker'
        customsStatus:
          type:
            - string
            - 'null'
          enum:
            - Broker Identified
            - Bond
            - Hold
            - Cleared Customs
        customsEntryNumber:
          type:
            - string
            - 'null'
          description: The entry number assigned by the customs agency. (if available)
    referenceNumbers: "\n\n\n\n  \n\n<!DOCTYPE html>\n<html\n  lang=\"en\"\n  \n  data-color-mode=\"auto\" data-light-theme=\"light\" data-dark-theme=\"dark\"\n  data-a11y-animated-images=\"system\" data-a11y-link-underlines=\"true\"\n  \n  >\n\n\n\n\n  <head>\n    <meta charset=\"utf-8\">\n  <link rel=\"dns-prefetch\" href=\"https://github.githubassets.com\">\n  <link rel=\"dns-prefetch\" href=\"https://avatars.githubusercontent.com\">\n  <link rel=\"dns-prefetch\" href=\"https://github-cloud.s3.amazonaws.com\">\n  <link rel=\"dns-prefetch\" href=\"https://user-images.githubusercontent.com/\">\n  <link rel=\"preconnect\" href=\"https://github.githubassets.com\" crossorigin>\n  <link rel=\"preconnect\" href=\"https://avatars.githubusercontent.com\">\n\n<script type=\"importmap\">{\"imports\":{\"react\":\"https://github.githubassets.com/assets/react-e27d1b3e03961e68.js\",\"react-dom\":\"https://github.githubassets.com/assets/react-dom-e5fd46a22d5c4058.js\",\"react-dom/client\":\"https://github.githubassets.com/assets/react-dom-client-1b4a3ee065998cea.js\",\"react-is\":\"https://github.githubassets.com/assets/react-is-e0b593954b4706d8.js\",\"react-reconciler\":\"https://github.githubassets.com/assets/react-reconciler-8e99e505c4429605.js\",\"react/compiler-runtime\":\"https://github.githubassets.com/assets/react-compiler-runtime-4610bd6d3de9c049.js\",\"react/jsx-dev-runtime\":\"https://github.githubassets.com/assets/react-jsx-dev-runtime-ea55d68667d559e5.js\",\"react/jsx-runtime\":\"https://github.githubassets.com/assets/react-jsx-runtime-4915cb0f5b3aff04.js\",\"scheduler\":\"https://github.githubassets.com/assets/scheduler-58b860b049ca307c.js\"}}</script>\n<meta name=\"react-profiling\" content=\"0\" data-turbo-transient=\"true\" />\n<meta name=\"react-import-map\" content=\"react,react-dom,react-dom/client,react-dom/profiling,react-is,react-reconciler,react/compiler-runtime,react/jsx-dev-runtime,react/jsx-runtime,scheduler@777f63f87cd0\" data-turbo-track=\"reload\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/react-e27d1b3e03961e68.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/react-compiler-runtime-4610bd6d3de9c049.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/scheduler-58b860b049ca307c.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/react-dom-e5fd46a22d5c4058.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/react-dom-client-1b4a3ee065998cea.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/react-is-e0b593954b4706d8.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/react-jsx-runtime-4915cb0f5b3aff04.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/react-reconciler-8e99e505c4429605.js\" />\n\n  \n\n\n  <link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/light-99f877e9ddfc0e51.css\" /><link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/light_high_contrast-48fdd0811afbab3c.css\" /><link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/dark-79ad2ace604703b3.css\" /><link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/dark_high_contrast-24484a076f02295f.css\" /><link data-color-theme=\"light\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/light-99f877e9ddfc0e51.css\" /><link data-color-theme=\"light_high_contrast\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/light_high_contrast-48fdd0811afbab3c.css\" /><link data-color-theme=\"light_colorblind\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/light_colorblind-f4bf1142976e4bbf.css\" /><link data-color-theme=\"light_colorblind_high_contrast\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/light_colorblind_high_contrast-f661b49995ba0bd8.css\" /><link data-color-theme=\"light_tritanopia\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/light_tritanopia-0b38d22346321c92.css\" /><link data-color-theme=\"light_tritanopia_high_contrast\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/light_tritanopia_high_contrast-f1c62c9e70259b9f.css\" /><link data-color-theme=\"dark\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/dark-79ad2ace604703b3.css\" /><link data-color-theme=\"dark_high_contrast\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/dark_high_contrast-24484a076f02295f.css\" /><link data-color-theme=\"dark_colorblind\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/dark_colorblind-f50cacf0a86b9929.css\" /><link data-color-theme=\"dark_colorblind_high_contrast\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/dark_colorblind_high_contrast-e61d4f4ca17852c2.css\" /><link data-color-theme=\"dark_tritanopia\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/dark_tritanopia-39c10993d5603fac.css\" /><link data-color-theme=\"dark_tritanopia_high_contrast\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/dark_tritanopia_high_contrast-73236c840c0c7d90.css\" /><link data-color-theme=\"dark_dimmed\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/dark_dimmed-0de76f07cc035b10.css\" /><link data-color-theme=\"dark_dimmed_high_contrast\" crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" data-href=\"https://github.githubassets.com/assets/dark_dimmed_high_contrast-fd1500c8744e40d6.css\" />\n\n  <style type=\"text/css\">\n    :root {\n      --tab-size-preference: 4;\n    }\n\n    pre, code {\n      tab-size: var(--tab-size-preference);\n    }\n  </style>\n\n    <link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/primer-primitives-ed9ca172356fd545.css\" />\n    <link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/primer-1d2c7f7b52a6068b.css\" />\n    <link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/global-54ba76e934a49d7c.css\" />\n    <link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/github-456bd5deb85c7ecd.css\" />\n  <link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/repository-11ee8a031c040c1a.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/code-2d56bdb0166c0238.css\" />\n\n  \n\n  <script type=\"application/json\" id=\"client-env\">{\"locale\":\"en\",\"featureFlags\":[\"actions_enable_background_steps\",\"actions_new_hosted_runner_image_select_sizes_and_versions\",\"activity_diff_file_tree\",\"activity_repos_file_tree\",\"activity_repos_overview_header\",\"activity_repos_overview_sidebar\",\"agent_author_search_expansion\",\"agent_author_search_expansion_ui_pulls\",\"alternate_user_config_repo\",\"async_conversion_coverage_enabled\",\"billing_billable_licenses_cost_center_bucket_fix\",\"billing_budget_expiration\",\"billing_cost_center_list_assigned_resources\",\"billing_discount_threshold_notification\",\"code_quality_enablement_banner_targeting\",\"code_quality_remove_preview\",\"code_view_raf_sticky_lines\",\"codespaces_prebuild_region_target_update\",\"coding_agent_third_party_model_ui\",\"copilot_agent_snippy\",\"copilot_api_agentic_issue_marshal_yaml\",\"copilot_automation_repo_mcp_servers\",\"copilot_automations_pagination\",\"copilot_chat_auto_mode_v2\",\"copilot_chat_clear_model_selection_for_default_change\",\"copilot_chat_vision_dotcom_chat_ga_gate\",\"copilot_css_textarea_autosize\",\"copilot_custom_copilots\",\"copilot_custom_copilots_feature_preview\",\"copilot_duplicate_thread\",\"copilot_extensions_removal_on_marketplace\",\"copilot_fix_failed_workflows_all_skus\",\"copilot_hide_hovercard\",\"copilot_immersive_task_hyperlinking\",\"copilot_mc_cli_resume_any_users_task\",\"copilot_mission_control_agent_merge_fix_ci\",\"copilot_mission_control_agent_merge_resolve_conflicts\",\"copilot_mission_control_early_stop\",\"copilot_mission_control_environment_list_icons\",\"copilot_mission_control_managed_sandbox_environments\",\"copilot_mission_control_needs_attention\",\"copilot_mission_control_reasoning_effort\",\"copilot_mission_control_sandbox_client_side_clone\",\"copilot_mission_control_sandbox_remote_bypass\",\"copilot_mission_control_session_filters\",\"copilot_mission_control_task_alive_updates\",\"copilot_mission_control_task_sharing\",\"copilot_org_policy_page_focus_mode\",\"copilot_share_active_subthread\",\"copilot_spaces_ga\",\"copilot_spaces_individual_policies_ga\",\"copilot_swe_agent_authorization_status_ui\",\"copilot_swe_agent_automation_resource_scoped_writes\",\"copilot_swe_agent_hide_model_picker_if_only_auto\",\"copilot_swe_agent_issue_comment_trigger\",\"copilot_swe_agent_pr_comment_model_picker\",\"copilot_swe_agent_pull_request_comment_trigger\",\"copilot_swe_agent_pull_request_merged_trigger\",\"copilot_swe_agent_pull_request_opened_trigger\",\"copilot_swe_agent_pull_request_synchronize_trigger\",\"copilot_swe_agent_use_subagents\",\"copilot_task_api_github_rest_style\",\"copilot_task_scoped_alive_channel\",\"copilot_token_based_billing\",\"copilot_unconfigured_is_inherited\",\"copilot_user_can_upgrade_plan_field\",\"copilot_workbench_sunset_redirect\",\"dashboard_indexeddb_caching\",\"dashboard_lists_max_age_filter\",\"dashboard_universe_2025_feedback_dialog\",\"fgpat_permissions_selector_redesign\",\"glc_code_quality_repo_settings_workflow_config\",\"hide_github_models_ui\",\"hide_groups_list_for_few_groups\",\"hyperspace_2025_logged_out_batch_1\",\"hyperspace_2025_logged_out_batch_2\",\"hyperspace_2025_logged_out_batch_3\",\"in_product_messaging_datadog_monitoring\",\"ipm_ubb_individual_budget_banner\",\"issue_fields_multi_select\",\"issue_inline_avatars\",\"issue_pinned_views\",\"issue_relative_time_micro\",\"issues_dashboard_sso_structured_errors\",\"issues_expanded_file_types\",\"issues_hide_closed_sub_issues\",\"issues_lazy_load_comment_box_suggestions\",\"issues_react_chrome_container_query_fix\",\"issues_relates_to_projects_search\",\"labels_archiving\",\"labels_archiving_info\",\"landing_pages_ninetailed\",\"lifecycle_label_name_updates\",\"marketing_cookie_consent_banner\",\"marketing_pages_search_explore_provider\",\"memex_default_issue_create_repository\",\"memex_lazy_hydrate_agent_tasks\",\"memex_live_update_hovercard\",\"memex_mwl_filter_field_delimiter\",\"memex_remove_deprecated_type_issue\",\"merge_queue_restricted_pushers_warning\",\"merge_status_checks_refetch_dedupe\",\"merge_status_header_feedback\",\"mergeability_refetch_dedupe\",\"octocaptcha_origin_optimization\",\"primer_react_css_anchor_positioning\",\"primer_react_merged_forwarded_refs\",\"prs_copilot_app_open_action\",\"prs_css_anchor_positioning\",\"prs_thread_reply_as_primary_action\",\"pull_request_copilot_attribution_header\",\"pull_request_overview_panel_edit_description\",\"pull_request_persister\",\"pull_request_stacks_feedback_dialog\",\"pull_request_virtualization_image_estimate\",\"pull_request_virtualization_loader_batching\",\"pull_request_virtualization_scroll_compensation\",\"pull_request_virtualization_scroll_intent\",\"quick_search_lazy_suggestions\",\"react_blob_isolate_code_lines\",\"react_blob_ssr_content_visibility\",\"react_data_router_tanstack_allowed\",\"react_query_props_with_key\",\"react_sandbox_future_tanstack\",\"repo_app_turbo\",\"repo_issues_sidebar_layout\",\"repo_pulls_dashboard_declutter\",\"repo_pulls_dashboard_ga\",\"repo_pulls_dashboard_persistence\",\"repo_pulls_dashboard_sidebar_links\",\"repos_contributors_limited_default_range\",\"review_involves_filter\",\"rule_ignored_file_paths\",\"rulesets_actor_list_editor\",\"sample_network_conn_type\",\"sanitize_preset_flash_error\",\"sanitize_preset_validation_message\",\"security_center_artifact_filters_popover\",\"see_who_reacted\",\"semantic_similarity_duplicate_issue_detection\",\"session_logs_ungroup_reasoning_text\",\"set_sha256_on_repo_creation_form\",\"site_banner_desktop_copilot_app\",\"site_ghca_pixel_mona\",\"site_github_app_ga_page\",\"site_github_app_ga_page_highlight\",\"site_github_app_mobile_native_share\",\"site_global_banner_dev_days_attendee\",\"site_global_banner_learn_copilot_sdk\",\"site_global_nav_spark_models_removed\",\"speculation_rules_ui_service\",\"suggest_custom_property_values_copilot\",\"suppress_automated_browser_vitals\",\"swp_forms_disable_octocaptcha\",\"thread_resolution_reason\",\"ui_service_referrer_metrics\",\"update_issue_suggestions\",\"user_code_paste_ux\",\"viewscreen_sandbox\",\"warn_inaccessible_attachments\",\"webp_support\",\"workstream_plugin_bootstrap\"],\"githubDomain\":\"https://github.com\",\"copilotApiOverrideUrl\":\"https://api.githubcopilot.com\",\"cmcApiUrl\":\"https://api.github.com/cmc_internal/api\"}</script>\n<script crossorigin=\"anonymous\" type=\"module\" src=\"https://github.githubassets.com/assets/high-contrast-cookie-e3d808ee18eb9784.js\"></script>\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/wp-runtime-cc77db5ed0019c7d.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/app-foundation-74e9766bd696d26a.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/app-runtime-7d377d1f27bbad23.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/fetch-utilities-9a5c31efd5313aa8.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/ser-cd1b421ad0ad7ed5.js\" />\n<script crossorigin=\"anonymous\" type=\"module\" src=\"https://github.githubassets.com/assets/environment-ab98ec6c204ec084.js\" defer=\"defer\"></script>\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/app-runtime.9246aa20d02bb90b.module.css\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/catalyst-044fa3a2acdaf0a9.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/selector-observer-e88088f989b27670.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/relative-time-element-7cdf4e0db98b997c.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/by-6b3c07383371bf58.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/ja9-36f036c13c2e3a4c.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/kw-866fd9513ae95106.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/r1-b075aab3204f32f9.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/jz5-7c5d1669717041f8.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/hj-5126390ff433704d.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/j05-dce4d588268f0f7e.js\" />\n<script crossorigin=\"anonymous\" type=\"module\" src=\"https://github.githubassets.com/assets/github-elements-814879578909af81.js\" defer=\"defer\"></script>\n<script crossorigin=\"anonymous\" type=\"module\" src=\"https://github.githubassets.com/assets/element-registry-1a3f46e301ca40b1.js\" defer=\"defer\"></script>\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/runtime-helpers-6df03a157bacbc44.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/aria-live-76b18916d0c8ec4d.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/hotkey-5109c77d7ac61078.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/react-core-d27b938e851ccb49.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/04-b4570e9cc17d8b62.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/ur-024971cb63acad59.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/4t-364e19c63d726e9a.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/6ny-c969fbae697a356f.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/yhq-3a209035a30b1a09.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/z1v-da5b33b877bfa358.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/wo-df202594a5bf5f61.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/9y-ebc4195ed57c6001.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/j0-41a4cf04cbd99503.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/0p-81491ed0d9d666e2.js\" />\n<script crossorigin=\"anonymous\" type=\"module\" src=\"https://github.githubassets.com/assets/behaviors-19a50278e70ef180.js\" defer=\"defer\"></script>\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/react-core.5c6ee197c091b384.module.css\" />\n<script crossorigin=\"anonymous\" type=\"module\" src=\"https://github.githubassets.com/assets/code-menu-db72bec6743b97f5.js\" defer=\"defer\"></script>\n  \n  <link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/primer-react-3ca70c6e707ba409.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/ncx-9a860680a5f230b9.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/j6-363f0ebf4f62f310.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/t7l-bf6f21d7e7a43c35.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/4u-27f74cfc703e1977.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/wsr-5fd3071e5a9061ab.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/0n-ecadb2ffe6b01ba2.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/s07-3fae157786a7acb1.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/n4u-6317ce1c31aed1db.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/j8s-d90ce3a169b741ed.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/la-d2cd96f070e6b52a.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/q61-80cd2b936a4f27b6.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/fj8-b6b4dd5c8ee28797.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/w4q-134941577ca76346.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/qhu-cfdd732196b44b49.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/gzu-b9f61517dfb069e5.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/bi0-a78ba744687848c2.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/on-c7e4c90af6ffd527.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/b1-04bc5715b6dd3e67.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/0l5-2c7e8df6e59adc66.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/c2z-c92998400310b94b.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/f9-038758dcbfe08dab.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/0k-b7df0a74912a42bf.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/sp-352b18edf58f7022.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/og-72a377e4a14147a1.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/b9-4fd36ab02c30bf52.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/ec-cbba6ef3015afe55.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/du-3326f9d530cbf97a.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/20-5934b8a59cdb96ac.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/ql0-e077eae00b3c661b.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/dsj-cb1e4ddbce4f007b.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/wp-9f5235d335ab624b.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/gc4-c5927d67cdc592a2.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/uw-1408814835e50727.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/7cw-169ae7bb5f04a269.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/z-831ad54ea056549a.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/hrn-e4b3dbaf6c3e3c8f.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/w4-a0045409d63046ff.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/jxi-4a01b1e0ce757fd4.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/72-20143cc69e68a0e4.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/xc-f5d51b571cd317cb.js\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/t-7c4bc4aab3fcad0a.js\" />\n<script crossorigin=\"anonymous\" type=\"module\" src=\"https://github.githubassets.com/assets/code-view-6ba43c5f458cca43.js\" defer=\"defer\"></script>\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/primer-react-css.44b7afb50b7d2b27.module.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/ql0.a8799830227aa47a.module.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/z.79ba33c2ec5d04d0.module.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/xc.13e027137438fd9f.module.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/t.84009134db3f904a.module.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/code-view.1cc3b2d68f11be46.module.css\" />\n\n  <link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/8p0n-73376bed45f677a1.js\" />\n<script crossorigin=\"anonymous\" type=\"module\" src=\"https://github.githubassets.com/assets/notifications-subscriptions-menu-3d0ea3fe5c772936.js\" defer=\"defer\"></script>\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/primer-react-css.44b7afb50b7d2b27.module.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/notifications-subscriptions-menu.5187394b9fad4aa4.module.css\" />\n\n\n  <title>less-than-truckload/shared-resources/referenceNumbers.txt at b6778db2dc559e2c0be3e8e26ba8172329319fc0 · dsdcapis/less-than-truckload · GitHub</title>\n\n\n\n  <meta name=\"route-pattern\" content=\"/:user_id/:repository/blob/*name(/*path)\" data-turbo-transient>\n  <meta name=\"route-controller\" content=\"blob\" data-turbo-transient>\n  <meta name=\"route-action\" content=\"show\" data-turbo-transient>\n  <meta name=\"fetch-nonce\" content=\"v2:fdf7c1fc-98c3-ab78-7174-419e6afcc6da\">\n\n    \n  <meta name=\"current-catalog-service-hash\" content=\"f3abb0cc802f3d7b95fc8762b94bdcb13bf39634c40c357301c4aa1d67a256fb\">\n\n\n  <meta name=\"request-id\" content=\"F818:315271:1777A3:2E2D23:6AB51F43\" data-pjax-transient=\"true\"/><meta name=\"html-safe-nonce\" content=\"2df527ea34b335f1710dfee67fc2a58a285ea5f01777128193aad52d2b707468\" data-pjax-transient=\"true\"/><meta name=\"visitor-payload\" content=\"eyJyZWZlcnJlciI6IiIsInJlcXVlc3RfaWQiOiJGODE4OjMxNTI3MToxNzc3QTM6MkUyRDIzOjZBQjUxRjQzIiwidmlzaXRvcl9pZCI6IjcxODMyMzYwNDMwMzIwNDMzMzEiLCJyZWdpb25fZWRnZSI6Indlc3R1czIiLCJyZWdpb25fcmVuZGVyIjoid2VzdHVzMiJ9\" data-pjax-transient=\"true\"/><meta name=\"visitor-hmac\" content=\"bb6a453b377290816567a64a79d941a97f09a27b16e8f7c6d3249c6979f74530\" data-pjax-transient=\"true\"/>\n\n\n    <meta name=\"hovercard-subject-tag\" content=\"repository:869739839\" data-turbo-transient>\n\n\n  <meta name=\"github-keyboard-shortcuts\" content=\"repository,source-code,file-tree,copilot\" data-turbo-transient=\"true\" />\n  \n\n  <meta name=\"selected-link\" value=\"repo_source\" data-turbo-transient>\n  <link rel=\"assets\" href=\"https://github.githubassets.com/\">\n\n    <meta name=\"google-site-verification\" content=\"Apib7-x98H0j5cPqHWwSMm6dNU4GmODRoqxLiDzdx9I\">\n\n<meta name=\"octolytics-url\" content=\"https://collector.github.com/github/collect\" />\n\n\n\n\n\n  <meta name=\"analytics-location\" content=\"/&lt;user-name&gt;/&lt;repo-name&gt;/blob/show\" data-turbo-transient=\"true\" />\n\n  \n\n\n\n\n    <meta name=\"user-login\" content=\"\">\n\n  \n\n    <meta name=\"viewport\" content=\"width=device-width\">\n\n    \n\n      <meta name=\"description\" content=\"Repository that contains the artifacts released by the DSDC LTL Committee. - less-than-truckload/shared-resources/referenceNumbers.txt at b6778db2dc559e2c0be3e8e26ba8172329319fc0 · dsdcapis/less-than-truckload\">\n\n      <link rel=\"search\" type=\"application/opensearchdescription+xml\" href=\"/opensearch.xml\" title=\"GitHub\">\n\n    <link rel=\"fluid-icon\" href=\"https://github.com/fluidicon.png\" title=\"GitHub\">\n    <meta property=\"fb:app_id\" content=\"1401488693436528\">\n    <meta name=\"apple-itunes-app\" content=\"app-id=1477376905, app-argument=https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/referenceNumbers.txt\" />\n\n      <meta name=\"twitter:image\" content=\"https://opengraph.githubassets.com/019ed0a8208f84915bcbec884df8a1710e441629e05ce46a3eb27c3cfbe1d9ea/dsdcapis/less-than-truckload\" /><meta name=\"twitter:site\" content=\"@github\" /><meta name=\"twitter:card\" content=\"summary_large_image\" /><meta name=\"twitter:title\" content=\"less-than-truckload/shared-resources/referenceNumbers.txt at b6778db2dc559e2c0be3e8e26ba8172329319fc0 · dsdcapis/less-than-truckload\" /><meta name=\"twitter:description\" content=\"Repository that contains the artifacts released by the DSDC LTL Committee. - dsdcapis/less-than-truckload\" />\n  <meta property=\"og:image\" content=\"https://opengraph.githubassets.com/019ed0a8208f84915bcbec884df8a1710e441629e05ce46a3eb27c3cfbe1d9ea/dsdcapis/less-than-truckload\" /><meta property=\"og:image:alt\" content=\"Repository that contains the artifacts released by the DSDC LTL Committee. - dsdcapis/less-than-truckload\" /><meta property=\"og:image:width\" content=\"1200\" /><meta property=\"og:image:height\" content=\"600\" /><meta property=\"og:site_name\" content=\"GitHub\" /><meta property=\"og:type\" content=\"object\" /><meta property=\"og:title\" content=\"less-than-truckload/shared-resources/referenceNumbers.txt at b6778db2dc559e2c0be3e8e26ba8172329319fc0 · dsdcapis/less-than-truckload\" /><meta property=\"og:url\" content=\"https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/referenceNumbers.txt\" /><meta property=\"og:description\" content=\"Repository that contains the artifacts released by the DSDC LTL Committee. - dsdcapis/less-than-truckload\" />\n  \n\n\n\n\n      <meta name=\"hostname\" content=\"github.com\">\n\n\n\n        <meta name=\"expected-hostname\" content=\"github.com\">\n\n\n  <meta http-equiv=\"x-pjax-version\" content=\"09517ce99cce3380eee268c4ac6b871212e6c2c7458e5038dc3d0cd0b818871c\" data-turbo-track=\"reload\">\n  <meta http-equiv=\"x-pjax-csp-version\" content=\"c4a65e47b0c850e1157ae8e66298070851d7e3b558038de5a3b4ff7a93e630ed\" data-turbo-track=\"reload\">\n  <meta http-equiv=\"x-pjax-css-version\" content=\"ec4c7b86d7b57240253150b827ea48b04e08d8760dc6553d2a04f62000f3fe0c\" data-turbo-track=\"reload\">\n  <meta http-equiv=\"x-pjax-js-version\" content=\"4092baa201d13d57a87f2e091017cb989017fb702dbb3255ee3c8ecdf8d042e3\" data-turbo-track=\"reload\">\n\n  <meta name=\"turbo-cache-control\" content=\"no-preview\" data-turbo-transient=\"\">\n\n      <meta name=\"turbo-cache-control\" content=\"no-cache\" data-turbo-transient>\n\n    <meta data-hydrostats=\"publish\">\n\n  <meta name=\"go-import\" content=\"github.com/dsdcapis/less-than-truckload git https://github.com/dsdcapis/less-than-truckload.git\">\n\n  <meta name=\"octolytics-dimension-user_id\" content=\"188268207\" /><meta name=\"octolytics-dimension-user_login\" content=\"dsdcapis\" /><meta name=\"octolytics-dimension-repository_id\" content=\"869739839\" /><meta name=\"octolytics-dimension-repository_nwo\" content=\"dsdcapis/less-than-truckload\" /><meta name=\"octolytics-dimension-repository_public\" content=\"true\" /><meta name=\"octolytics-dimension-repository_is_fork\" content=\"false\" /><meta name=\"octolytics-dimension-repository_network_root_id\" content=\"869739839\" /><meta name=\"octolytics-dimension-repository_network_root_nwo\" content=\"dsdcapis/less-than-truckload\" />\n  \n\n\n\n    \n\n    <meta name=\"turbo-body-classes\" content=\"logged-out env-production page-responsive\">\n  <meta name=\"disable-turbo\" content=\"false\">\n\n\n  <meta name=\"browser-stats-url\" content=\"https://api.github.com/_private/browser/stats\">\n\n\n  <meta name=\"browser-errors-url\" content=\"https://api.github.com/_private/browser/errors\">\n\n  <meta name=\"release\" content=\"2281232e06606e750aac0683d09005f848d98a4f\" data-turbo-track=\"reload\">\n  <meta name=\"ui-target\" content=\"full\">\n\n  <link rel=\"mask-icon\" href=\"https://github.githubassets.com/assets/pinned-octocat-093da3e6fa40.svg\" color=\"#000000\">\n  <link rel=\"alternate icon\" class=\"js-site-favicon\" type=\"image/png\" href=\"https://github.githubassets.com/favicons/favicon.png\">\n  <link rel=\"icon\" class=\"js-site-favicon\" type=\"image/svg+xml\" href=\"https://github.githubassets.com/favicons/favicon.svg\" data-base-href=\"https://github.githubassets.com/favicons/favicon\">\n\n<meta name=\"theme-color\" content=\"#1e2327\">\n<meta name=\"color-scheme\" content=\"light dark\" />\n\n\n  <link rel=\"manifest\" href=\"/manifest.json\" crossOrigin=\"use-credentials\">\n\n  </head>\n\n  <body class=\"logged-out env-production page-responsive\" style=\"word-wrap: break-word;\" >\n    <div data-turbo-body class=\"logged-out env-production page-responsive\" style=\"word-wrap: break-word;\" >\n      <div id=\"__primerPortalRoot__\" style=\"z-index: 1000; position: absolute; width: 100%;\" data-turbo-permanent></div>\n      \n\n    <div class=\"position-relative header-wrapper js-header-wrapper \">\n      <a href=\"#start-of-content\" data-skip-target-assigned=\"false\" class=\"px-2 tmp-py-4 color-bg-accent-emphasis color-fg-on-emphasis show-on-focus js-skip-to-content\">Skip to content</a>\n\n      <span data-view-component=\"true\" class=\"progress-pjax-loader Progress position-fixed width-full\">\n    <span style=\"width: 0%;\" data-view-component=\"true\" class=\"Progress-item progress-pjax-loader-bar left-0 top-0 color-bg-accent-emphasis\"></span>\n</span>      \n      <link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/l7j-2ddd8b435dadae28.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/keyboard-shortcuts-dialog-9c960991aaddf8a3.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/primer-react-css.44b7afb50b7d2b27.module.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/keyboard-shortcuts-dialog.8c30b670f036ea54.module.css\" />\n\n<react-partial\n  partial-name=\"keyboard-shortcuts-dialog\"\n  data-ssr=\"false\"\n  data-attempted-ssr=\"false\"\n  data-react-profiling=\"false\"\n>\n  \n  <script type=\"application/json\" data-target=\"react-partial.embeddedData\">{\"props\":{\"docsUrl\":\"https://docs.github.com/get-started/accessibility/keyboard-shortcuts\"}}</script>\n  <div data-target=\"react-partial.reactRoot\"></div>\n</react-partial>\n\n\n\n\n\n      \n\n          <link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/pw-4f91498888595802.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/app-install-banner-partial-dee69322ab22445f.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/primer-react-css.44b7afb50b7d2b27.module.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/app-install-banner-partial.99b3b8d166581983.module.css\" />\n\n<react-partial\n  partial-name=\"app-install-banner-partial\"\n  data-ssr=\"false\"\n  data-attempted-ssr=\"false\"\n  data-react-profiling=\"false\"\n>\n  \n  <script type=\"application/json\" data-target=\"react-partial.embeddedData\">{\"props\":{}}</script>\n  <div data-target=\"react-partial.reactRoot\"></div>\n</react-partial>\n\n\n          \n\n                <link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/2l-6cedbc3128429fc7.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/i2-3e1ea9a828b29b0d.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/fz5-23f28c0f388769c9.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/lht-dedd9949bed91081.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/p1-76a75a6081059b19.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/3d-82c347d20a13fb90.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/tua-18c20c09a9dc80b9.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/t1-7addb7a44e70fa3c.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" rel=\"modulepreload\" href=\"https://github.githubassets.com/assets/marketing-header-c536c99668c558fb.js\" fetchpriority=\"low\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/primer-react-css.44b7afb50b7d2b27.module.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/primer-react-brand-css.6a01c236ff527e7e.module.css\" />\n<link crossorigin=\"anonymous\" media=\"all\" rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/t1.a304baa4c3062c45.module.css\" />\n\n<react-partial\n  partial-name=\"marketing-header\"\n  data-ssr=\"true\"\n  data-attempted-ssr=\"true\"\n  data-react-profiling=\"false\"\n>\n  \n  <script type=\"application/json\" data-target=\"react-partial.embeddedData\">{\"props\":{\"color_mode\":\"dark\",\"logged_in\":false,\"marketing_page\":false,\"home_path\":\"/\",\"login_path\":\"/login?return_to=https%3A%2F%2Fgithub.com%2Fdsdcapis%2Fless-than-truckload%2Fblob%2Fb6778db2dc559e2c0be3e8e26ba8172329319fc0%2Fshared-resources%2FreferenceNumbers.txt\",\"signup_path\":\"/signup?ref_cta=Sign+up\\u0026ref_loc=header+logged+out\\u0026ref_page=%2F%3Cuser-name%3E%2F%3Crepo-name%3E%2Fblob%2Fshow\\u0026source=header-repo\\u0026source_repo=dsdcapis%2Fless-than-truckload\",\"signup_enabled\":true,\"is_signup_controller\":false,\"show_search_and_nav\":true,\"hide_search\":false,\"private_mode_enabled\":false,\"should_use_dotcom_links\":true,\"auth_hydro_click\":\"{\\\"event_type\\\":\\\"authentication.click\\\",\\\"payload\\\":{\\\"location_in_page\\\":\\\"site header menu\\\",\\\"repository_id\\\":null,\\\"auth_type\\\":\\\"SIGN_UP\\\",\\\"originating_url\\\":\\\"https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/referenceNumbers.txt\\\",\\\"user_id\\\":null}}\",\"auth_hydro_click_hmac\":\"4ffb6cbf90c164e62d605ae80367c93bc477bb63e80fc8e340839cbf15def732\",\"overlay\":false,\"fixed\":false}}</script>\n  <div data-target=\"react-partial.reactRoot\"><div data-color-mode=\"dark\" data-light-theme=\"light\" data-dark-theme=\"dark\"><header class=\"MarketingHeader-module__root__Tk7n3 HeaderMktg header-logged-out\" role=\"banner\" data-marketing-header=\"true\" data-color-mode=\"dark\" data-light-theme=\"light\" data-dark-theme=\"dark\" data-is-top=\"true\"><h2 class=\"MarketingHeader-module__visuallyHidden__sqKsl\">Navigation Menu</h2><button type=\"button\" class=\"MarketingHeader-module__backdrop__sw4RU\" aria-label=\"Close navigation menu\"></button><div class=\"MarketingHeader-module__bar__mBSyE\"><div class=\"MarketingHeader-module__topRow__yeury\"><div class=\"MarketingHeader-module__toggleSlot__hDxbh\"><button type=\"button\" class=\"HeaderMenuToggle-module__toggle__i8EiC\" aria-label=\"Toggle navigation\" aria-expanded=\"false\"><span class=\"HeaderMenuToggle-module__toggleBar__jVN0H\"></span><span class=\"HeaderMenuToggle-module__toggleBar__jVN0H\"></span><span class=\"HeaderMenuToggle-module__toggleBar__jVN0H\"></span></button></div><a href=\"/\" aria-label=\"Homepage\" class=\"HeaderLogo-module__logo__UFyHI\" data-analytics-event=\"{&quot;action&quot;:&quot;homepage&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;logo&quot;,&quot;location&quot;:&quot;header&quot;,&quot;label&quot;:&quot;homepage_link_logo_header&quot;}\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-mark-github\" viewBox=\"0 0 24 24\" width=\"32\" height=\"32\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"M10.226 17.284c-2.965-.36-5.054-2.493-5.054-5.256 0-1.123.404-2.336 1.078-3.144-.292-.741-.247-2.314.09-2.965.898-.112 2.111.36 2.83 1.01.853-.269 1.752-.404 2.853-.404 1.1 0 1.999.135 2.807.382.696-.629 1.932-1.1 2.83-.988.315.606.36 2.179.067 2.942.72.854 1.101 2 1.101 3.167 0 2.763-2.089 4.852-5.098 5.234.763.494 1.28 1.572 1.28 2.807v2.336c0 .674.561 1.056 1.235.786 4.066-1.55 7.255-5.615 7.255-10.646C23.5 6.188 18.334 1 11.978 1 5.62 1 .5 6.188.5 12.545c0 4.986 3.167 9.12 7.435 10.669.606.225 1.19-.18 1.19-.786V20.63a2.9 2.9 0 0 1-1.078.224c-1.483 0-2.359-.808-2.987-2.313-.247-.607-.517-.966-1.034-1.033-.27-.023-.359-.135-.359-.27 0-.27.45-.471.898-.471.652 0 1.213.404 1.797 1.235.45.651.921.943 1.483.943.561 0 .92-.202 1.437-.719.382-.381.674-.718.944-.943\"></path></svg></a><div class=\"AuthCTAs-module__mobileActions__NNzeV\"><a class=\"Primer_Brand__Button-module__Button___scH9Z Primer_Brand__Button-module__Button--subtle___F7pEE Primer_Brand__Button-module__Button--size-small___zQrEw AuthCTAs-module__cta__WpwQq\" href=\"/login?return_to=https%3A%2F%2Fgithub.com%2Fdsdcapis%2Fless-than-truckload%2Fblob%2Fb6778db2dc559e2c0be3e8e26ba8172329319fc0%2Fshared-resources%2FreferenceNumbers.txt\" data-analytics-event=\"{&quot;action&quot;:&quot;sign_in&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;auth_cta&quot;,&quot;location&quot;:&quot;header&quot;,&quot;label&quot;:&quot;sign_in_link_auth_cta_header&quot;}\" data-hydro-click=\"{&quot;event_type&quot;:&quot;authentication.click&quot;,&quot;payload&quot;:{&quot;location_in_page&quot;:&quot;site header menu&quot;,&quot;repository_id&quot;:null,&quot;auth_type&quot;:&quot;SIGN_UP&quot;,&quot;originating_url&quot;:&quot;https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/referenceNumbers.txt&quot;,&quot;user_id&quot;:null}}\" data-hydro-click-hmac=\"4ffb6cbf90c164e62d605ae80367c93bc477bb63e80fc8e340839cbf15def732\"><span class=\"Primer_Brand__Button-module__Button__text___ED0bX\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--100___B2ueX Primer_Brand__Text-module__Text--weight-medium___qJKf_ Primer_Brand__Button-module__Button--label___qrkyz Primer_Brand__Button-module__Button--label-subtle___8ndWH\">Sign in</span></span></a><button class=\"Primer_Brand__Button-module__Button___scH9Z Primer_Brand__Button-module__Button--subtle___F7pEE Primer_Brand__Button-module__Button--size-small___zQrEw HeaderAppearanceSettings-module__trigger__hUheK\" type=\"button\" aria-haspopup=\"dialog\" aria-labelledby=\"_R_3dd_\"><span class=\"Primer_Brand__Button-module__Button__leading-visual___jjtTe\" data-testid=\"Button-leading-visual\"><svg data-component=\"Octicon\" focusable=\"false\" aria-hidden=\"true\" class=\"octicon octicon-sliders Primer_Brand__Button-module__Button__icon-visual____qybb\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"M15 2.75a.75.75 0 0 1-.75.75h-4a.75.75 0 0 1 0-1.5h4a.75.75 0 0 1 .75.75Zm-8.5.75v1.25a.75.75 0 0 0 1.5 0v-4a.75.75 0 0 0-1.5 0V2H1.75a.75.75 0 0 0 0 1.5H6.5Zm1.25 5.25a.75.75 0 0 0 0-1.5h-6a.75.75 0 0 0 0 1.5h6ZM15 8a.75.75 0 0 1-.75.75H11.5V10a.75.75 0 1 1-1.5 0V6a.75.75 0 0 1 1.5 0v1.25h2.75A.75.75 0 0 1 15 8Zm-9 5.25v-2a.75.75 0 0 0-1.5 0v1.25H1.75a.75.75 0 0 0 0 1.5H4.5v1.25a.75.75 0 0 0 1.5 0v-2Zm9 0a.75.75 0 0 1-.75.75h-6a.75.75 0 0 1 0-1.5h6a.75.75 0 0 1 .75.75Z\"></path></svg></span><span class=\"Primer_Brand__Button-module__Button__text___ED0bX\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--100___B2ueX Primer_Brand__Text-module__Text--weight-medium___qJKf_ Primer_Brand__Button-module__Button--label___qrkyz Primer_Brand__Button-module__Button--label-subtle___8ndWH\"></span></span></button><div class=\"Primer_Brand__Tooltip-module__Tooltip___0Eipx\" data-direction=\"s\" aria-hidden=\"true\" id=\"_R_3dd_\">Appearance settings</div></div></div><div class=\"MarketingHeader-module__menu__GIy3y\"><div class=\"MarketingHeader-module__menuWrapper__owstH\"><nav class=\"MarketingNavigation-module__nav__W0KYY\" aria-label=\"Global\"><ul class=\"MarketingNavigation-module__list__tFbMb\"><li><div class=\"NavDropdown-module__container__l2YeI\"><button type=\"button\" class=\"NavDropdown-module__button__PEHWX\" aria-expanded=\"false\" aria-controls=\"_R_nd_\">Platform<svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-triangle-right NavDropdown-module__buttonIcon__Tkl8_\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"m6.427 4.427 3.396 3.396a.25.25 0 0 1 0 .354l-3.396 3.396A.25.25 0 0 1 6 11.396V4.604a.25.25 0 0 1 .427-.177Z\"></path></svg></button><div id=\"_R_nd_\" class=\"NavDropdown-module__dropdown__xm1jd\"><ul class=\"NavDropdown-module__list__zuCgG\"><li><div class=\"NavGroup-module__group__W8SqJ\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--monospace___QXHDQ Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--100___B2ueX Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavGroup-module__title__Wzxz2\" id=\"_R_5knd_\">AI CODE CREATION</span><ul class=\"NavGroup-module__list__UCOFy\" aria-labelledby=\"_R_5knd_\"><li><a class=\"Primer_Brand__Link-module__Link___lF11y Primer_Brand__Link-module__Link--default___VRVW0 NavLink-module__link__EG3d4\" href=\"https://github.com/features/copilot\" data-analytics-event=\"{&quot;action&quot;:&quot;github_copilot&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;platform&quot;,&quot;location&quot;:&quot;navbar&quot;,&quot;label&quot;:&quot;github_copilot_link_platform_navbar&quot;}\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Link-module__Link--label___jM8Ty\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavLink-module__title__Q7t0p\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-copilot NavLink-module__icon__ltGNM\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"M7.998 15.035c-4.562 0-7.873-2.914-7.998-3.749V9.338c.085-.628.677-1.686 1.588-2.065.013-.07.024-.143.036-.218.029-.183.06-.384.126-.612-.201-.508-.254-1.084-.254-1.656 0-.87.128-1.769.693-2.484.579-.733 1.494-1.124 2.724-1.261 1.206-.134 2.262.034 2.944.765.05.053.096.108.139.165.044-.057.094-.112.143-.165.682-.731 1.738-.899 2.944-.765 1.23.137 2.145.528 2.724 1.261.566.715.693 1.614.693 2.484 0 .572-.053 1.148-.254 1.656.066.228.098.429.126.612.012.076.024.148.037.218.924.385 1.522 1.471 1.591 2.095v1.872c0 .766-3.351 3.795-8.002 3.795Zm0-1.485c2.28 0 4.584-1.11 5.002-1.433V7.862l-.023-.116c-.49.21-1.075.291-1.727.291-1.146 0-2.059-.327-2.71-.991A3.222 3.222 0 0 1 8 6.303a3.24 3.24 0 0 1-.544.743c-.65.664-1.563.991-2.71.991-.652 0-1.236-.081-1.727-.291l-.023.116v4.255c.419.323 2.722 1.433 5.002 1.433ZM6.762 2.83c-.193-.206-.637-.413-1.682-.297-1.019.113-1.479.404-1.713.7-.247.312-.369.789-.369 1.554 0 .793.129 1.171.308 1.371.162.181.519.379 1.442.379.853 0 1.339-.235 1.638-.54.315-.322.527-.827.617-1.553.117-.935-.037-1.395-.241-1.614Zm4.155-.297c-1.044-.116-1.488.091-1.681.297-.204.219-.359.679-.242 1.614.091.726.303 1.231.618 1.553.299.305.784.54 1.638.54.922 0 1.28-.198 1.442-.379.179-.2.308-.578.308-1.371 0-.765-.123-1.242-.37-1.554-.233-.296-.693-.587-1.713-.7Z\"></path><path d=\"M6.25 9.037a.75.75 0 0 1 .75.75v1.501a.75.75 0 0 1-1.5 0V9.787a.75.75 0 0 1 .75-.75Zm4.25.75v1.501a.75.75 0 0 1-1.5 0V9.787a.75.75 0 0 1 1.5 0Z\"></path></svg>GitHub Copilot</span><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS NavLink-module__subtitle__X4gkW\">Write better code with AI</span></span></a></li><li><a class=\"Primer_Brand__Link-module__Link___lF11y Primer_Brand__Link-module__Link--default___VRVW0 NavLink-module__link__EG3d4\" href=\"https://github.com/features/ai/github-app\" data-analytics-event=\"{&quot;action&quot;:&quot;github_copilot_app&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;platform&quot;,&quot;location&quot;:&quot;navbar&quot;,&quot;label&quot;:&quot;github_copilot_app_link_platform_navbar&quot;}\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Link-module__Link--label___jM8Ty\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavLink-module__title__Q7t0p\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-mark-github NavLink-module__icon__ltGNM\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"M6.766 11.328c-2.063-.25-3.516-1.734-3.516-3.656 0-.781.281-1.625.75-2.188-.203-.515-.172-1.609.063-2.062.625-.078 1.468.25 1.968.703.594-.187 1.219-.281 1.985-.281.765 0 1.39.094 1.953.265.484-.437 1.344-.765 1.969-.687.218.422.25 1.515.046 2.047.5.593.766 1.39.766 2.203 0 1.922-1.453 3.375-3.547 3.64.531.344.89 1.094.89 1.954v1.625c0 .468.391.734.86.547C13.781 14.359 16 11.53 16 8.03 16 3.61 12.406 0 7.984 0 3.563 0 0 3.61 0 8.031a7.88 7.88 0 0 0 5.172 7.422c.422.156.828-.125.828-.547v-1.25c-.219.094-.5.156-.75.156-1.031 0-1.64-.562-2.078-1.609-.172-.422-.36-.672-.719-.719-.187-.015-.25-.093-.25-.187 0-.188.313-.328.625-.328.453 0 .844.281 1.25.86.313.452.64.655 1.031.655s.641-.14 1-.5c.266-.265.47-.5.657-.656\"></path></svg>GitHub Copilot app</span><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS NavLink-module__subtitle__X4gkW\">Direct agents from issue to merge</span></span></a></li><li><a class=\"Primer_Brand__Link-module__Link___lF11y Primer_Brand__Link-module__Link--default___VRVW0 NavLink-module__link__EG3d4\" href=\"https://github.com/mcp\" data-analytics-event=\"{&quot;action&quot;:&quot;mcp_registry&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;platform&quot;,&quot;location&quot;:&quot;navbar&quot;,&quot;label&quot;:&quot;mcp_registry_link_platform_navbar&quot;}\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Link-module__Link--label___jM8Ty\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavLink-module__title__Q7t0p\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-mcp NavLink-module__icon__ltGNM\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"M5.52 1.12a3.578 3.578 0 0 1 6.078 2.98 3.578 3.578 0 0 1 2.982 6.08l-3.292 3.293a.252.252 0 0 0 0 .354l.843.843a.749.749 0 1 1-1.06 1.06l-.844-.843a1.75 1.75 0 0 1 0-2.474L13.52 9.12a2.08 2.08 0 0 0 0-2.94 2.08 2.08 0 0 0-2.94 0L7.731 9.03A.75.75 0 0 1 6.67 7.97l2.85-2.85a2.08 2.08 0 0 0 0-2.94 2.08 2.08 0 0 0-2.94 0l-4.799 4.8A.75.75 0 0 1 .72 5.92Z\"></path><path d=\"M7.52 3.12a.749.749 0 1 1 1.06 1.06L5.731 7.03A2.079 2.079 0 0 0 8.67 9.97l2.85-2.85a.749.749 0 1 1 1.06 1.06l-2.849 2.85A3.578 3.578 0 0 1 4.67 5.97Z\"></path></svg>MCP Registry</span><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS NavLink-module__subtitle__X4gkW\">Integrate external tools</span></span></a></li></ul></div></li><li><div class=\"NavGroup-module__group__W8SqJ\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--monospace___QXHDQ Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--100___B2ueX Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavGroup-module__title__Wzxz2\" id=\"_R_9knd_\">DEVELOPER WORKFLOWS</span><ul class=\"NavGroup-module__list__UCOFy\" aria-labelledby=\"_R_9knd_\"><li><a class=\"Primer_Brand__Link-module__Link___lF11y Primer_Brand__Link-module__Link--default___VRVW0 NavLink-module__link__EG3d4\" href=\"https://github.com/features/actions\" data-analytics-event=\"{&quot;action&quot;:&quot;actions&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;platform&quot;,&quot;location&quot;:&quot;navbar&quot;,&quot;label&quot;:&quot;actions_link_platform_navbar&quot;}\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Link-module__Link--label___jM8Ty\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavLink-module__title__Q7t0p\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-workflow NavLink-module__icon__ltGNM\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"M0 1.75C0 .784.784 0 1.75 0h3.5C6.216 0 7 .784 7 1.75v3.5A1.75 1.75 0 0 1 5.25 7H4v4a1 1 0 0 0 1 1h4v-1.25C9 9.784 9.784 9 10.75 9h3.5c.966 0 1.75.784 1.75 1.75v3.5A1.75 1.75 0 0 1 14.25 16h-3.5A1.75 1.75 0 0 1 9 14.25v-.75H5A2.5 2.5 0 0 1 2.5 11V7h-.75A1.75 1.75 0 0 1 0 5.25Zm1.75-.25a.25.25 0 0 0-.25.25v3.5c0 .138.112.25.25.25h3.5a.25.25 0 0 0 .25-.25v-3.5a.25.25 0 0 0-.25-.25Zm9 9a.25.25 0 0 0-.25.25v3.5c0 .138.112.25.25.25h3.5a.25.25 0 0 0 .25-.25v-3.5a.25.25 0 0 0-.25-.25Z\"></path></svg>Actions</span><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS NavLink-module__subtitle__X4gkW\">Automate any workflow</span></span></a></li><li><a class=\"Primer_Brand__Link-module__Link___lF11y Primer_Brand__Link-module__Link--default___VRVW0 NavLink-module__link__EG3d4\" href=\"https://github.com/features/codespaces\" data-analytics-event=\"{&quot;action&quot;:&quot;codespaces&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;platform&quot;,&quot;location&quot;:&quot;navbar&quot;,&quot;label&quot;:&quot;codespaces_link_platform_navbar&quot;}\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Link-module__Link--label___jM8Ty\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavLink-module__title__Q7t0p\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-codespaces NavLink-module__icon__ltGNM\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"M0 11.25c0-.966.784-1.75 1.75-1.75h12.5c.966 0 1.75.784 1.75 1.75v3A1.75 1.75 0 0 1 14.25 16H1.75A1.75 1.75 0 0 1 0 14.25Zm2-9.5C2 .784 2.784 0 3.75 0h8.5C13.216 0 14 .784 14 1.75v5a1.75 1.75 0 0 1-1.75 1.75h-8.5A1.75 1.75 0 0 1 2 6.75Zm1.75-.25a.25.25 0 0 0-.25.25v5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-5a.25.25 0 0 0-.25-.25Zm-2 9.5a.25.25 0 0 0-.25.25v3c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-3a.25.25 0 0 0-.25-.25Z\"></path><path d=\"M7 12.75a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75Zm-4 0a.75.75 0 0 1 .75-.75h.5a.75.75 0 0 1 0 1.5h-.5a.75.75 0 0 1-.75-.75Z\"></path></svg>Codespaces</span><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS NavLink-module__subtitle__X4gkW\">Instant dev environments</span></span></a></li><li><a class=\"Primer_Brand__Link-module__Link___lF11y Primer_Brand__Link-module__Link--default___VRVW0 NavLink-module__link__EG3d4\" href=\"https://github.com/features/issues\" data-analytics-event=\"{&quot;action&quot;:&quot;issues&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;platform&quot;,&quot;location&quot;:&quot;navbar&quot;,&quot;label&quot;:&quot;issues_link_platform_navbar&quot;}\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Link-module__Link--label___jM8Ty\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavLink-module__title__Q7t0p\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-issue-opened NavLink-module__icon__ltGNM\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z\"></path><path d=\"M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Z\"></path></svg>Issues</span><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS NavLink-module__subtitle__X4gkW\">Plan and track work</span></span></a></li><li><a class=\"Primer_Brand__Link-module__Link___lF11y Primer_Brand__Link-module__Link--default___VRVW0 NavLink-module__link__EG3d4\" href=\"https://github.com/features/code-review\" data-analytics-event=\"{&quot;action&quot;:&quot;code_review&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;platform&quot;,&quot;location&quot;:&quot;navbar&quot;,&quot;label&quot;:&quot;code_review_link_platform_navbar&quot;}\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Link-module__Link--label___jM8Ty\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavLink-module__title__Q7t0p\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-code NavLink-module__icon__ltGNM\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"m11.28 3.22 4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215Zm-6.56 0a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z\"></path></svg>Code Review</span><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS NavLink-module__subtitle__X4gkW\">Manage code changes</span></span></a></li><li><a class=\"Primer_Brand__Link-module__Link___lF11y Primer_Brand__Link-module__Link--default___VRVW0 NavLink-module__link__EG3d4\" href=\"https://github.com/features/code-quality\" data-analytics-event=\"{&quot;action&quot;:&quot;code_quality&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;platform&quot;,&quot;location&quot;:&quot;navbar&quot;,&quot;label&quot;:&quot;code_quality_link_platform_navbar&quot;}\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Link-module__Link--label___jM8Ty\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavLink-module__title__Q7t0p\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-codescan-checkmark NavLink-module__icon__ltGNM\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"M10.28 6.28a.75.75 0 1 0-1.06-1.06L6.25 8.19l-.97-.97a.75.75 0 0 0-1.06 1.06l1.5 1.5a.75.75 0 0 0 1.06 0l3.5-3.5Z\"></path><path d=\"M7.5 15a7.5 7.5 0 1 1 5.807-2.754l2.473 2.474a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-2.474-2.473A7.472 7.472 0 0 1 7.5 15Zm0-13.5a6 6 0 1 0 4.094 10.386.748.748 0 0 1 .293-.292 6.002 6.002 0 0 0 1.117-6.486A6.002 6.002 0 0 0 7.5 1.5Z\"></path></svg>Code Quality</span><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS NavLink-module__subtitle__X4gkW\">Enforce quality at merge</span></span></a></li></ul></div></li><li><div class=\"NavGroup-module__group__W8SqJ\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--monospace___QXHDQ Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--100___B2ueX Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavGroup-module__title__Wzxz2\" id=\"_R_dknd_\">APPLICATION SECURITY</span><ul class=\"NavGroup-module__list__UCOFy\" aria-labelledby=\"_R_dknd_\"><li><a class=\"Primer_Brand__Link-module__Link___lF11y Primer_Brand__Link-module__Link--default___VRVW0 NavLink-module__link__EG3d4\" href=\"https://github.com/security/advanced-security\" data-analytics-event=\"{&quot;action&quot;:&quot;github_advanced_security&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;platform&quot;,&quot;location&quot;:&quot;navbar&quot;,&quot;label&quot;:&quot;github_advanced_security_link_platform_navbar&quot;}\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Link-module__Link--label___jM8Ty\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavLink-module__title__Q7t0p\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-shield-check NavLink-module__icon__ltGNM\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"m8.533.133 5.25 1.68A1.75 1.75 0 0 1 15 3.48V7c0 1.566-.32 3.182-1.303 4.682-.983 1.498-2.585 2.813-5.032 3.855a1.697 1.697 0 0 1-1.33 0c-2.447-1.042-4.049-2.357-5.032-3.855C1.32 10.182 1 8.566 1 7V3.48a1.75 1.75 0 0 1 1.217-1.667l5.25-1.68a1.748 1.748 0 0 1 1.066 0Zm-.61 1.429.001.001-5.25 1.68a.251.251 0 0 0-.174.237V7c0 1.36.275 2.666 1.057 3.859.784 1.194 2.121 2.342 4.366 3.298a.196.196 0 0 0 .154 0c2.245-.957 3.582-2.103 4.366-3.297C13.225 9.666 13.5 8.358 13.5 7V3.48a.25.25 0 0 0-.174-.238l-5.25-1.68a.25.25 0 0 0-.153 0ZM11.28 6.28l-3.5 3.5a.75.75 0 0 1-1.06 0l-1.5-1.5a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l.97.97 2.97-2.97a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042Z\"></path></svg>GitHub Advanced Security</span><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--muted___rE6mh Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS NavLink-module__subtitle__X4gkW\">Find and fix vulnerabilities</span></span></a></li><li><a class=\"Primer_Brand__Link-module__Link___lF11y Primer_Brand__Link-module__Link--default___VRVW0 NavLink-module__link__EG3d4\" href=\"https://github.com/security/advanced-security/code-security\" data-analytics-event=\"{&quot;action&quot;:&quot;code_security&quot;,&quot;tag&quot;:&quot;link&quot;,&quot;context&quot;:&quot;platform&quot;,&quot;location&quot;:&quot;navbar&quot;,&quot;label&quot;:&quot;code_security_link_platform_navbar&quot;}\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Link-module__Link--label___jM8Ty\"><span class=\"Primer_Brand__Text-module__Text___XeGJJ Primer_Brand__Text-module__Text-font--mona-sans___a8XJD Primer_Brand__Text-module__Text--default___GhPh_ Primer_Brand__Text-module__Text--200____P1wy Primer_Brand__Text-module__Text--antialiased___TYoXS Primer_Brand__Text-module__Text--weight-medium___qJKf_ NavLink-module__title__Q7t0p\"><svg data-component=\"Octicon\" aria-hidden=\"true\" focusable=\"false\" class=\"octicon octicon-code-square NavLink-module__icon__ltGNM\" viewBox=\"0 0 16 16\" width=\"16\" height=\"16\" fill=\"currentColor\" display=\"inline-block\" overflow=\"visible\" style=\"vertical-align:text-bottom\"><path d=\"M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v12.5A1.75 1.75 0 0 1 14.25 16H1.75A1.75 1.75 0 0 1 0 14.25Zm1.75-.25a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V1.75a.25.25 0 0 0-.25-.25Zm7.47 3.97a.75.75 0 0 1 1.06 0l2 2a.75.75 0 0 1 0 1.06l-2 2a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L10.69 8 9.22 6.53a.75.75 0 0 1 0-1.06ZM6.78 6
[...]
