openapi: 3.1.0
info:
  title: In Transit Visibility API
  description: |
    The In Transit Visibility API provides insight into a shipment's movement as it navigates through the pickup and delivery process. Once the carrier has picked up the shipment, shippers will be able to understand where the shipment is in transit between pickup and delivery.

    This In Transit Visibility API will include all status updates along the path of the shipment and starts when the carrier acknowledges they have a shipment and ends when the carrier delivers the shipment to the receiver and the receiver acknowledges receipt.

    This YAML is intended to provide guidance and is not executable code. Implementers are encouraged to use provided structure and data elements where possible, however, implementation decisions including endpoint structure and available data are at the implementers discretion.

    The API structure includes elements that may not be applicable to all implementation. For instance, the security section contains both bearerAuth and apiKeyAuth, however, implementers may choose to use one or both.

  version: "1.2"
  x-prd-version: "September 2026"
  contact: 
    name: NMFTA Digital LTL Council
    email: support@nmfta.org
  license:
    name: NMFTA License
    url: https://github.com/dsdcapis/less-than-truckload/blob/main/LICENSE.md

servers:
  - url: https://api.nmfta.org/in-transit/v1
    description: Production server
  - url: https://staging-api.nmfta.org/in-transit/v1
    description: Staging server

security:
  - bearerAuth: []
  - apiKeyAuth: []

paths:
  /shipment/pro/{proNumber}/verified:
    get:
      summary: Shipment information by Pro Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Verified Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '202':
          description: Shipment found successfully, not associated with Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by Pro Number
      parameters:
        - name: proNumber
          in: path
          required: true
          description: The carrier assigned Pro Number associated with the shipment.
          schema:
            type: string
          example: 123456789
  /shipment/bol/{bolNumber}/{originPostalCode}/verified:
    get:
      summary: Shipment information by BOL Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Verified Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '202':
          description: Shipment found successfully, not associated with Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by BOL Number
      parameters:
        - name: bolNumber
          in: path
          required: true
          description: The BOL Number associated with the shipment.
          schema: 
            type: string
          example: 123456789
        - name: originPostalCode
          in: path
          required: true
          description: The Origin Postal Code associated with the shipment.
          schema: 
            type: string
          example: "1234512345"
  /shipment/po/{poNumber}/{destinationPostalCode}/verified:
    get:
      summary: Shipment information by the PO Number.
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Verified Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '202':
          description: Shipment found successfully, not associated with Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by PO Number
      parameters:
        - name: poNumber
          in: path
          required: true
          description: The PO Number associated with the shipment.
          schema: 
            type: string
          example: 123456789
        - name: destinationPostalCode
          in: path
          required: true
          description: |
           The Destination Postal Code associated with the shipment.
          schema: 
            type: string
          example: 1234512345
  /shipment/po/{accountNumber}/{startDate}/{endDate}/verified:
    get: 
      summary: |
        Shipment information by account number and by date range.
      description: |
        Shipment information by account number and within a certain date range with a logged in account
      tags: 
        - Verified Shipment Status Queries
      responses:
        '200':
          description: 'One or more shipments found successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '204':
          description: 'No shipments found within a given date range for the account'
        '401':
          description: 'The user is not logged in or the user does not have access to this account information.'
        '404':
          description: 'The account is not found.'
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: The Account Number associated with the shipment.
          schema: 
            type: string
        - name: startDate
          in: path
          required: true
          description: |
            The pick-up start date of a range to search for shipments
          schema: 
            type: string
            format: date-time
        - name: endDate
          in: path
          required: true
          description: |
            The pick-up end date of a range to search for shipments
          schema: 
            type: string
            format: date-time

  /notifications/subscribe:
    post:
      summary: |
        Subscribe to shipment events
      description: |
        Endpoint to allow subscribing to real-time webhook events. You will need to provide a POST endpoint to consume this information.

        
        The various notification objects can be found at the bottom of the page under the schemas section with the objects starting with <pre>Notification_</pre> or <pre>Notification_Exception_</pre> or <pre>Notification_WorkflowException_</pre>.

        You will receive a Transaction ID that you can use to unsubscribe later if needed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                referenceNumbers:
                  type: array
                  items:
                    type: string
                  description: An array reference numbers to identify shipments to subscribe for events
                webhookUrl:
                  type: string
                  description: "URL for the webhook to listen for shipment events."
              required:
                - items
                - propertyName
            example:
              referenceNumbers: ["string1", "string2", "string3"]
              webhookUrl: "example-value"
      callbacks:
        ShipmentEventSubscription:
          /callbackUrl:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/Notification_DeliveryUpdate'
                      - $ref: '#/components/schemas/Notification_DeliveryInformation'             
              responses:
                '200':
                  description: "OK"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: "Response message"
                  transactionId:
                    oneOf:
                      - type: string
                      - type: integer
                    description: "Transaction identifier that can be either a string or an integer"
                required:
                  - message
                  - transactionId
              examples:
                String-based Transaction ID:
                  value:
                    message: "Subscription completed"
                    transactionId: "TXN-123456"
                Integer-based Transaction ID:
                  value:
                    message: "Subscription completed"
                    transactionId: 987654
        '401':
          description: 'The user is not logged in or the user does not have access to modify this subscription.'
      tags:
        - Notifications
  /notifications/unsubscribe/{transactionId}:
    delete:
      summary: |
        Unsubscribe from shipment events
      description: |
        Endpoint to allow unsubscribing from real-time webhook events.
      tags:
        - Notifications
      responses:
        '200':
          description: 'Successfully unsubscribed from webhook events'
        '401':
          description: 'The user is not logged in or the user does not have access to modify this subscription.'
        '404':
          description: 'The requested subscription is not found.'
      parameters:
        - name: transactionId
          in: path
          required: true
          description: The transaction ID that was previously received during subscription that you wish to unsubscribe from.
          schema:
            type: [string, integer]

  /shipment/pro/{proNumber}/public:
    get:
      summary: Shipment information by Pro Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Public Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by Pro Number
      parameters:
        - name: proNumber
          in: path
          required: true
          description: The carrier assigned Pro Number associated with the shipment.
          schema:
            type: string
          example: 123456789
  /shipment/bol/{bolNumber}/{originPostalCode}/public:
    get:
      summary: Shipment information by BOL Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Public Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by BOL Number
      parameters:
        - name: bolNumber
          in: path
          required: true
          description: The BOL Number associated with the shipment.
          schema: 
            type: string
          example: 123456789
        - name: originPostalCode
          in: path
          required: true
          description: The Origin Postal Code associated with the shipment.
          schema: 
            type: string
 
  /shipment/po/{poNumber}/{destinationPostalCode}/public:
    get:
      summary: Shipment information by the PO Number.
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Public Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by PO Number
      parameters:
        - name: poNumber
          in: path
          required: true
          description: The PO Number associated with the shipment.
          schema: 
            type: string
          example: 123456789
        - name: destinationPostalCode
          in: path
          required: true
          description: |
           The Destination Postal Code associated with the shipment.
          schema: 
            type: string
          example: 1234512345

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      
  schemas:
    ShipmentSearchPublicResponse:
      type: object
      required:
        - ProNumber
        - ShipmentMilestoneStatus
        - UpdatedETA
        - EstimatedStandardDay
      properties:
        ProNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        ShipmentMilestoneStatus:
          type: string
          enum: [Picked-up, In Transit, Interline, Out for Delivery, Delivered]
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date (with or without time) the shipment is expected to be delivered.
        EstimatedStandardDay:
          type: integer
          description: Days in transit
    
    ShipmentStatusVerifiedResponse:
      type: object
      required:
        - ProNumber
        - ReferenceNumbers
        - UniqueID
        - UpdatedPro
        - PayType
        - ShipType
        - PickupAddress
        - BillToAddress
        - BillToAccountNumber
        - ConsigneeAddress
        - DESaccessorial
        - DESLimitedAccess
        - TimeCriticalType
        - TimeCriticalInfo
        - GrossWeight
        - ShipmentMilestoneStatus
        - ShipmentMilestoneStatusLong
        - ShipmentTerminalInfo
        - TimeZoneOfShipment
        - UpdatedETA
        - EstimatedStandardDay
        - EstimatedDeliveryDate
        - Reconsignment
        - ShipmentShortage
        - ShipmentDamage
        - AllShortOrLostShipment
        - Late
        - AppointmentRequired
        - CrossBorder
      properties:
        ProNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        ReferenceNumbers:
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/referenceNumbers.txt'
        UniqueID: 
          type: string
          description: Pro + SCAC + Carrier eBOL Create Date (YYYYMMDD).
        UpdatedPro:
          type: [string, 'null']
          description: Additional PRO associated with the shipment. Examples include new PRO due to reconsignment or partner carrier PRO for interline.
        PayType:
          type: string
          description: Identifies terms of shipment (e.g., Prepaid or Collect).
        ShipType: 
          type: string
          description: Identifies the payor of the shipment (Shipper, Consignee, or Third Party).
        PickupAddress:
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/standardAddress.txt'
        BillToAddress:
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/standardAddress.txt'
        BillToAccountNumber:
          type: string
          description: Account number for Bill To.
        ConsigneeAddress:
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/standardAddress.txt'
        DESaccessorial:
          type: [array, 'null']
          description: |
            An array to hold the list of services requested for the shipment

            Valid Values: See the AccessorialCodes schema at the bottom of
            this page.
          items:
            type: string
        DESLimitedAccess:
          type: [string, 'null']
          $ref: https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/limitedAccessType.txt
        TimeCriticalType: 
          type: [string, 'null']
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/timeCriticalTypes.txt'
        TimeCriticalInfo:
          type: object
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/timeCriticalInfo.txt'
        GrossWeight: 
          type: number
          description: Weight in pounds of total shipment.
        Commodities:
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/commodity.txt'
        HandlingUnits:
         $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/handlingUnit.txt'
        ShipmentLocation:
         $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/standardAddress.txt'
        ShipmentMilestoneStatus:
          type: string
          enum: [Picked-up, In Transit, Interline, Out for Delivery, Delivered]
        ShipmentMilestoneStatusLong:
          type: [string, 'null']
          description: Optional field for carriers to provide carrier-specific status information.
        ShipmentTerminalInfo:
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/terminalInfo.txt'
        TimeZoneOfShipment:
          type: [string, 'null']
          description: The time in UTC (-X format) of current location.
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date, with or without time, that the shipment is expected to be delivered.
        EstimatedStandardDay:
          type: integer
          description: Days in transit
        EstimatedDeliveryDate:
          type: string
          format: date-time
          description: The original date, with or without time, that the shipment was expected to be delivered.
        OFDStopsAway:
          type: [integer, 'null']
          description: Indicates the number of stops away from the delivery destination, such as 3, 2, or 1 stop away.
        Reconsignment:
          type: [boolean,"null"]
          default: false
          description: Indicates if the shipment was reconsigned in transit. Values are true or false. The default is false.
        ShipmentShortage:
          type: [boolean,"null"]
          default: false
          description: Indicates if product was lost in transit.  Values are true or false. The default is false.
        ShipmentDamage:
          type: [boolean,"null"]
          default: false
          description: Indicates if the product was damaged in transit.  Values are true or false. The default is false.
        AllShortOrLostShipment:
          type: [boolean,"null"]
          default: false
          description: Indicates if this shipment is entirely lost in transit.  Values are true or false. The default is false.
        Late:
          type: [boolean,"null"]
          default: false
          description: Indicates if the shipment is going to be later than the original delivery date.  Values are true or false. The default is false.
        DelayReasonCode:
          type: [string, 'null']
          description: |
            Only required if Late = true. 
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/delayReasonCodes.txt'
        AppointmentRequired:
          type: [boolean,"null"]
          default: false
          description: Indicates if an appointment is required.  Values are true or false. The default is false.
        AppointmentStatus:
          type: [string, 'null']
          enum: [Requested, Secured, Missed]
          description: Indicates an appointment status of Requested, Secured, or Missed. 
        AppointmentDate:
          type: [string, 'null']
          format: date-time
          description: The original date and time of the appointment.
        PartnerCarrierName:
          type: [string, 'null']
          description: |
            Required if ShipmentMilestone = Interline

            The Interline or Agent Carrier's Name.
        PartnerCarrierSCAC:
          type: [string, 'null']
          description: |
            Required if ShipmentMilestone = Interline 
            
            The Interline or Agent Carrier's SCAC.
        CrossBorder:
          type: [boolean,"null"]
          default: false
          description: Indicates if cross border services are required.  Values are true or false. The default is false.
        CrossBorderStatus:
          type: [string, 'null']
          enum: [Bond, Hold, ClearedCustoms]
          description: |
            Required if CrossBorder = true

            Indicates a status of In Bond, Hold, or Cleared Customs.
        CrossBorderEntryNumber:
          type: [string, 'null']
          description: The entry authorization number
        PODAvailable:
          type: [boolean,"null"]
          default: false
          description: Indicates if POD is available.  Values are true or false. The default is false.

    
    Notification_DeliveryUpdate:
      type: object
      description: This message provides verified stakeholders proactive alerts on a shipments physical movements. Updates included in the message are dependent on carriers capabilities. Carriers that can send more information are always encouraged to do so.
      required:
        - proNumber
        - shipmentReferenceNumbers
        - shipmentMilestoneStatus
        - TimeZoneOfShipment
        - UpdatedETA
        - notificationMessage
      properties:
        proNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        shipmentReferenceNumbers:
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/referenceNumbers.txt'
        shipmentMilestoneStatus:
          description: note "Delivered" status should not be triggered until shipment is in custody of final consignee. "Interline" is the correct status for transfer to Interline partner carrier if detailed milestones are unavailable.
          type: string
          enum: [Picked-up, In Transit, Interline, Out for Delivery, Delivered]
        TimeZoneOfShipment:
          type: [string, 'null']
          description: The time in UTC (-X format) of current location.
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date, with or without time, that the shipment is expected to be delivered.
        notificationMessage:
          type: string
          description: optional field for carriers to provide more detailed information or human-readable descriptions
        terminalStatus:
          type: string
          enum: [Arrived, Unloaded, Loaded, Departed, Damaged, Short, Lost, Reconsigned]
        terminaltype:
          type: string
          enum: [origin, intermediate, delivery, interline]
        terminalAddress:
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/terminalInfo.txt'
        trailerNumber:
          type: [string, 'null']
          description: Trailer number currently transporting shipment. 
        countsToDelivery:
          description: Applies only when shipmentMilestoneStatus is Out for Delivery. Trigger proactive notification updates. Starting from within 3 Stops from Shipment Delivery Indicate the number of stops until that order delivery is scheduled. No timing estimates nor mileage only the number of stops. Update the count down from 3 to 2 to 1.
          type: integer
          example: [3, 2, 1]
        UpdatedPro:
          type: [string, 'null']
          description: Additional PRO associated with the shipment. Examples include new PRO due to reconsignment or partner carrier PRO for interline.
        PartnerCarrierName:
          type: [string, 'null']
          description: |
            Required if ShipmentMilestone = Interline or if shipment has been handed off to an Interline carrier.
            The Interline or Agent Carrier's Name.
        PartnerCarrierSCAC:
          type: [string, 'null']
          description: |
            Required if ShipmentMilestone = Interline or if shipment has been handed off to an Interline carrier.
            The Interline or Agent Carrier's SCAC.


    Notification_DeliveryInformation:
      type: object
      description: This message provides verified stakeholders proactive informational alerts not related to a shipments shipmentMilestoneStatus.
      required:
        - proNumber
        - shipmentReferenceNumbers
        - deliveryInformation_messages
      properties:
        proNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        shipmentReferenceNumbers:
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/referenceNumbers.txt'
        TimeZoneOfShipment:
          type: [string, 'null']
          description: The time in UTC (-X format) of current location.
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date, with or without time, that the shipment is expected to be delivered.
        deliveryInformation_messages:
          type: string
          description: valid messages for notification_deliveryInformation webhook
          enum: [POD available, Noted late, Accessorial added, Noted reweigh, Appointment Update, Missed delivery, Customs information]
        delayReasonCode:
          type: string
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/delayReasonCodes.txt'
        appointmentDate:
          type: string
          format: date-time
        appointmentStatus:
          type: string
          enum: [appointment scheduled, appointment rescheduled, appointment missed]
        utcOffset:
          type: string
        terminalStatus:
          type: string
          enum: [Arrived, Unloaded, Loaded, Departed, Damaged, Short, Lost, Reconsigned]
        responsibleParty:
          type: string
          description: e.g., Customer Error
        majorStatusCategory:
          type: string
          description: e.g., Closed Shipment
        generalDescription:
          type: string
          description: e.g., Delivery Request Cancelled
        carrierSpecificDescription:
          type: string
          description: e.g., Customer Request Cancelled
        customsAgent:
          $ref: 'https://github.com/dsdcapis/less-than-truckload/blob/b6778db2dc559e2c0be3e8e26ba8172329319fc0/shared-resources/customsAgentBroker.txt'
        customsStatus:
          type: [string, 'null']
          enum: [Broker Identified, Bond, Hold, Cleared Customs]
        customsEntryNumber:
          type: [string, 'null']
          description: The entry number assigned by the customs agency. (if available)


tags:
  - name: Verified Shipment Status Queries
    description: Get shipment information with an identifying number by a verified account.

  - name: Notifications
    description: Subscribe/unsubscribe shipment notifications to webhook.

  - name: Public Shipment Status Queries
    description: Get shipment information with an identifying number.