openapi: 3.1.0
info:
  title: In Transit Visibility API
  description: |
    The In Transit Visibility API provides insight into a shipment's movement as it navigates through the pickup and delivery process. Once the carrier has picked up the shipment, shippers will be able to understand where the shipment is in transit between pickup and delivery.

    This In Transit Visibility API will include all status updates along the path of the shipment and starts when the carrier acknowledges they have a shipment and ends when the carrier delivers the shipment to the receiver and the receiver acknowledges receipt.

    This YAML is intended to provide guidance and is not executable code. Implementers are encouraged to use provided structure and data elements where possible, however, implementation decisions including endpoint structure and available data are at the implementers discretion.
  version: "1.1.0"
  x-prd-version: "May 2026"
  contact: 
    name: NMFTA Digital LTL Council
    email: support@nmfta.org
  license:
    name: NMFTA License
    url: https://github.com/dsdcapis/less-than-truckload/blob/main/LICENSE.md

servers:
  - url: https://api.nmfta.org/in-transit/v1
    description: Production server
  - url: https://staging-api.nmfta.org/in-transit/v1
    description: Staging server

security:
  - bearerAuth: []
  - apiKeyAuth: []

paths:
  /shipment/pro/{proNumber}/verified:
    get:
      summary: Shipment information by Pro Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Verified Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '202':
          description: Shipment found successfully, not associated with Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by Pro Number
      parameters:
        - name: proNumber
          in: path
          required: true
          description: The carrier assigned Pro Number associated with the shipment.
          schema:
            type: string
          example: 123456789
  /shipment/bol/{bolNumber}/{originPostalCode}/verified:
    get:
      summary: Shipment information by BOL Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Verified Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '202':
          description: Shipment found successfully, not associated with Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by BOL Number
      parameters:
        - name: bolNumber
          in: path
          required: true
          description: The BOL Number associated with the shipment.
          schema: 
            type: string
          example: 123456789
        - name: originPostalCode
          in: path
          required: true
          description: The Origin Postal Code associated with the shipment.
          schema: 
            type: string
          example: "1234512345"
  /shipment/po/{poNumber}/{destinationPostalCode}/verified:
    get:
      summary: Shipment information by the PO Number.
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Verified Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '202':
          description: Shipment found successfully, not associated with Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by PO Number
      parameters:
        - name: poNumber
          in: path
          required: true
          description: The PO Number associated with the shipment.
          schema: 
            type: string
          example: 123456789
        - name: destinationPostalCode
          in: path
          required: true
          description: |
           The Destination Postal Code associated with the shipment.
          schema: 
            type: string
          example: 1234512345
  /shipment/po/{accountNumber}/{startDate}/{endDate}/verified:
    get: 
      summary: |
        Shipment information by account number and by date range.
      description: |
        Shipment information by account number and within a certain date range with a logged in account
      tags: 
        - Verified Shipment Status Queries
      responses:
        '200':
          description: 'One or more shipments found successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatusVerifiedResponse'
        '204':
          description: 'No shipments found within a given date range for the account'
        '401':
          description: 'The user is not logged in or the user does not have access to this account information.'
        '404':
          description: 'The account is not found.'
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: The Account Number associated with the shipment.
          schema: 
            type: string
        - name: startDate
          in: path
          required: true
          description: |
            The pick-up start date of a range to search for shipments
          schema: 
            type: string
            format: date-time
        - name: endDate
          in: path
          required: true
          description: |
            The pick-up end date of a range to search for shipments
          schema: 
            type: string
            format: date-time

  /notifications/subscribe:
    post:
      summary: |
        Subscribe to shipment events
      description: |
        Endpoint to allow subscribing to real-time webhook events. You will need to provide a POST endpoint to consume this information.

        
        The various notification objects can be found at the bottom of the page under the schemas section with the objects starting with <pre>Notification_</pre> or <pre>Notification_Exception_</pre> or <pre>Notification_WorkflowException_</pre>.

        You will receive a Transaction ID that you can use to unsubscribe later if needed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                referenceNumbers:
                  type: array
                  items:
                    type: string
                  description: An array reference numbers to identify shipments to subscribe for events
                webhookUrl:
                  type: string
                  description: "URL for the webhook to listen for shipment events."
              required:
                - items
                - propertyName
            example:
              referenceNumbers: ["string1", "string2", "string3"]
              webhookUrl: "example-value"
      callbacks:
        ShipmentEventSubscription:
          /callbackUrl:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/Notification_DeliveryUpdate'
                      - $ref: '#/components/schemas/Notification_DeliveryInformation'             
              responses:
                '200':
                  description: "OK"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: "Response message"
                  transactionId:
                    oneOf:
                      - type: string
                      - type: integer
                    description: "Transaction identifier that can be either a string or an integer"
                required:
                  - message
                  - transactionId
              examples:
                String-based Transaction ID:
                  value:
                    message: "Subscription completed"
                    transactionId: "TXN-123456"
                Integer-based Transaction ID:
                  value:
                    message: "Subscription completed"
                    transactionId: 987654
        '401':
          description: 'The user is not logged in or the user does not have access to modify this subscription.'
      tags:
        - Notifications
  /notifications/unsubscribe/{transactionId}:
    delete:
      summary: |
        Unsubscribe from shipment events
      description: |
        Endpoint to allow unsubscribing from real-time webhook events.
      tags:
        - Notifications
      responses:
        '200':
          description: 'Successfully unsubscribed from webhook events'
        '401':
          description: 'The user is not logged in or the user does not have access to modify this subscription.'
        '404':
          description: 'The requested subscription is not found.'
      parameters:
        - name: transactionId
          in: path
          required: true
          description: The transaction ID that was previously received during subscription that you wish to unsubscribe from.
          schema:
            type: [string, integer]

  /shipment/pro/{proNumber}/public:
    get:
      summary: Shipment information by Pro Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Public Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by Pro Number
      parameters:
        - name: proNumber
          in: path
          required: true
          description: The carrier assigned Pro Number associated with the shipment.
          schema:
            type: string
          example: 123456789
  /shipment/bol/{bolNumber}/{originPostalCode}/public:
    get:
      summary: Shipment information by BOL Number
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Public Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by BOL Number
      parameters:
        - name: bolNumber
          in: path
          required: true
          description: The BOL Number associated with the shipment.
          schema: 
            type: string
          example: 123456789
        - name: originPostalCode
          in: path
          required: true
          description: The Origin Postal Code associated with the shipment.
          schema: 
            type: string
 
  /shipment/po/{poNumber}/{destinationPostalCode}/public:
    get:
      summary: Shipment information by the PO Number.
      description: |
        Results for a single shipment that is an exact match.
      tags:
        - Public Shipment Status Queries
      responses:
        '200':
          description: Shipment found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentSearchPublicResponse'
        '404':
          description: Shipment was not found by PO Number
      parameters:
        - name: poNumber
          in: path
          required: true
          description: The PO Number associated with the shipment.
          schema: 
            type: string
          example: 123456789
        - name: destinationPostalCode
          in: path
          required: true
          description: |
           The Destination Postal Code associated with the shipment.
          schema: 
            type: string
          example: 1234512345

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      
  schemas:
    ShipmentSearchPublicResponse:
      type: object
      required:
        - ProNumber
        - ShipmentMilestoneStatus
        - UpdatedETA
        - EstimatedStandardDay
      properties:
        ProNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        ShipmentMilestoneStatus:
          type: string
          enum: [Picked-up, In Transit, Interline, Out for Delivery, Delivered]
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date (with or without time) the shipment is expected to be delivered.
        EstimatedStandardDay:
          type: integer
          description: Days in transit
    
    ShipmentStatusVerifiedResponse:
      type: object
      required:
        - ProNumber
        - ReferenceNumbers
        - UniqueID
        - UpdatedPro
        - PayType
        - ShipType
        - PickupAddress
        - BillToAddress
        - BillToAccountNumber
        - ConsigneeAddress
        - DESaccessorial
        - DESLimitedAccess
        - TimeCriticalType
        - TimeCriticalInfo
        - GrossWeight
        - ShipmentMilestoneStatus
        - ShipmentMilestoneStatusLong
        - ShipmentTerminalInfo
        - TimeZoneOfShipment
        - UpdatedETA
        - EstimatedStandardDay
        - EstimatedDeliveryDate
        - Reconsignment
        - ShipmentShortage
        - ShipmentDamage
        - AllShortOrLostShipment
        - Late
        - AppointmentRequired
        - CrossBorder
      properties:
        ProNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        ReferenceNumbers:
          $ref: '#/components/schemas/ShipmentStatusReferenceNumbers'
        UniqueID: 
          type: string
          description: Pro + SCAC + Carrier eBOL Create Date (YYYYMMDD).
        UpdatedPro:
          type: [string, 'null']
          description: Additional PRO associated with the shipment. Examples include new PRO due to reconsignment or partner carrier PRO for interline.
        PayType:
          type: string
          description: Identifies terms of shipment (e.g., Prepaid or Collect).
        ShipType: 
          type: string
          description: Identifies the payor of the shipment (Shipper, Consignee, or Third Party).
        PickupAddress:
          $ref: '#/components/schemas/ShipmentStatusAddress'
        BillToAddress:
          $ref: '#/components/schemas/ShipmentStatusAddress'
        BillToAccountNumber:
          type: string
          description: Account number for Bill To.
        ConsigneeAddress:
          $ref: '#/components/schemas/ShipmentStatusAddress'
        DESaccessorial:
          type: [array, 'null']
          description: |
            An array to hold the list of services requested for the shipment

            Valid Values: See the AccessorialCodes schema at the bottom of
            this page.
          items:
            type: string
        DESLimitedAccess:
          type: [string, 'null']
          description: |
            Limited access type.

            Valid Values: See the LimitedAccessTypes schema at the bottom of this page.
        TimeCriticalType: 
          type: [string, 'null']
          description: |
            Time Critical Type. 

            Valid Values: See the TimeCriticalTypes schema at the bottom of this page.
        TimeCriticalInfo:
         $ref: '#/components/schemas/TimeCriticalInfo'
        GrossWeight: 
          type: number
          description: Weight in pounds of total shipment.
        Commodities:
         $ref: '#/components/schemas/ShipmentStatusVerifiedCommodity'
        HandlingUnits:
         $ref: '#/components/schemas/ShipmentStatusVerifiedHandlingUnit'
        ShipmentLocation:
         $ref: '#/components/schemas/ShipmentStatusAddress'
        ShipmentMilestoneStatus:
          type: string
          enum: [Picked-up, In Transit, Interline, Out for Delivery, Delivered]
        ShipmentMilestoneStatusLong:
          type: [string, 'null']
          description: Optional field for carriers to provide carrier-specific status information.
        ShipmentTerminalInfo:
          $ref: '#/components/schemas/ShipmentStatusVerifiedTerminalInfo'
        TimeZoneOfShipment:
          type: [string, 'null']
          description: The time in UTC (-X format) of current location.
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date, with or without time, that the shipment is expected to be delivered.
        EstimatedStandardDay:
          type: integer
          description: Days in transit
        EstimatedDeliveryDate:
          type: string
          format: date-time
          description: The original date, with or without time, that the shipment was expected to be delivered.
        OFDStopsAway:
          type: [integer, 'null']
          description: Indicates the number of stops away from the delivery destination, such as 3, 2, or 1 stop away.
        Reconsignment:
          type: [boolean,"null"]
          default: false
          description: Indicates if the shipment was reconsigned in transit. Values are true or false. The default is false.
        ShipmentShortage:
          type: [boolean,"null"]
          default: false
          description: Indicates if product was lost in transit.  Values are true or false. The default is false.
        ShipmentDamage:
          type: [boolean,"null"]
          default: false
          description: Indicates if the product was damaged in transit.  Values are true or false. The default is false.
        AllShortOrLostShipment:
          type: [boolean,"null"]
          default: false
          description: Indicates if this shipment is entirely lost in transit.  Values are true or false. The default is false.
        Late:
          type: [boolean,"null"]
          default: false
          description: Indicates if the shipment is going to be later than the original delivery date.  Values are true or false. The default is false.
        DelayReason:
          type: [string, 'null']
          description: |
            Only required if Late = true. 

            Valid Values: See the DelayReasonCodes schema at the bottom of this page.
          examples: [440-2]
        AppointmentRequired:
          type: [boolean,"null"]
          default: false
          description: Indicates if an appointment is required.  Values are true or false. The default is false.
        AppointmentStatus:
          type: [string, 'null']
          enum: [Requested, Secured, Missed]
          description: Indicates an appointment status of Requested, Secured, or Missed. 
        AppointmentDate:
          type: [string, 'null']
          format: date-time
          description: The original date and time of the appointment.
        PartnerCarrierName:
          type: [string, 'null']
          description: |
            Required if ShipmentMilestone = Interline

            The Interline or Agent Carrier's Name.
        PartnerCarrierSCAC:
          type: [string, 'null']
          description: |
            Required if ShipmentMilestone = Interline 
            
            The Interline or Agent Carrier's SCAC.
        CrossBorder:
          type: [boolean,"null"]
          default: false
          description: Indicates if cross border services are required.  Values are true or false. The default is false.
        CrossBorderStatus:
          type: [string, 'null']
          enum: [Bond, Hold, ClearedCustoms]
          description: |
            Required if CrossBorder = true

            Indicates a status of In Bond, Hold, or Cleared Customs.
        CrossBorderEntryNumber:
          type: [string, 'null']
          description: The entry authorization number
        PODAvailable:
          type: [boolean,"null"]
          default: false
          description: Indicates if POD is available.  Values are true or false. The default is false.

    ShipmentStatusReferenceNumbers:
      type: object
      required:
        - bolNumber
        - QuoteID
        - ShipmentID
        - MasterBOL
        - poNumber
        - AdditionalReferences
        - trailerNumber
      properties:
        bolNumber:
          type: [string, 'null']
          description: The eBOL or BOL number for the shipment.
        QuoteID:
          type: [string, 'null']
          description: Quote ID provided by the carrier for the shipment.
        ShipmentID:
          type: [string, 'null']
          description: Shipper-assigned reference number for the individual shipment (load \#, shipment \#, etc. This can also be the pro.)
        MasterBOL:
          type: [string, 'null']
          description: Shipper reference number for Pooled services.
        poNumber:
          type: [string, 'null']
          description: Purchase Order Number provided by Consignee. There can be multiple Purchase Order Numbers associated with a single shipment.
        AdditionalReferences:
          type: [string, 'null']
          description: Cross reference PRO number provided by eBOL API.
        trailerNumber:
          type: [string, 'null']
          description: Trailer number currently transporting shipment.

    ShipmentStatusAddress:
      type: object
      required:
        - addressName
        - addressLine1
        - addressLine2
        - city
        - state
        - postalCode
        - country
      properties:
        addressName:
          type: string
          description: The business or personal name for the address.
        addressLine1:
          type: string
          description: The primary address line for the address.
        addressLine2:
          type: [string, 'null']
          description: The secondary address line for the address.
        city:
          type: string
          description: The city for the address.
        state:
          type: string
          description: the two-letter state/province code for the address.
        postalCode:
          type: string
          description: The 5-digit + 4 or 5-digit for the United States, 5-digit for Mexico, or 6-character for Canada, postal code for the location.
            Valid formats
             * 12345-1234 (5 digits + 4 - USA)
             * 12345 (5 digits - USA/MEX)
             * A1A1A1 (6 characters - CAN)
        country:
          type: string
          description: The country for the given address.
          enum: [USA, CAN, MEX]

    ShipmentStatusVerifiedCommodity:
      type: object
      properties:
        description: 
          type: [string, 'null']
          description: The description of the commodity.
        weight: 
          type: [number, 'null']
          description: The weight of the commodity.
        weightUnit: 
          type: [string, 'null']
          description: The unit of weight of the commodity in kg or lbs. The default is lbs.
          enum: [kg, lbs]
          examples: [lbs]
        pieces: 
          type: [number, 'null']
          description: The number of pieces of the commodity.
        packagingType: 
          type: [string, 'null']
          description: |
            Valid Values: See the PackagingTypes schema at the bottom of this page.
        classification:
          type: [number, 'null']
          description: The class of the commodity described. Classes included 50, 55, 60, 65, 70, 77.5, 85, 92.5, 100, 110, 125, 150, 175, 200, 250, 300, 400, 500, Not Required. 
        nmfc:
          type: [string, 'null']
          description: The NMFC code of the commodity.
        nmfcSub:
          type: [string, 'null']
          description: The NMFC sub code of the commodity.
        hazardous:
          type: boolean
          default: false
          description: Indicates whether the commodity is a hazardous material. Values are true or false. The default is false.
        hazardousDescription:
          type: [string, 'null']
          description: The description of the hazardous material commodity.
        hazmatContactName:
          type: [string, 'null']
          description: The name of who should be contacted if there is a hazardous materials-related issue with this commodity.
        hazmatContactPhoneNumber:
          type: [string, 'null']
          description: The phone number for the contact person for hazardous materials-related issues with this commodity.
        nestedOrStacked:
          type: [string, 'null']
          enum: [Nested, Stacked]
          description: Indicates whether the commodity is nested or stacked.

    ShipmentStatusVerifiedHandlingUnit:
      type: object
      description: Handling unit specific shipment attribute.
      properties:
        index:
          type: [integer, 'null']
          description: The index of the handling unit
        count: 
          type: [number, 'null']
          description: The number of handling units containing the described freight.
        type:
          type: [string, 'null']
          description: | 
            Type of handling unit.

            Valid values: See the HandlingUnitTypes schema at the bottom of the page.
          examples: [BAG]
        tareWeight: 
          type: [number, 'null']
          description: Weight of packaging materials and handling units separate from commodity weight.
        weight:
          type: [number, 'null']
          description: The gross weight.
        weightUnit:
          type: [string, 'null']
          description: The unit of weight in kg or lbs. The default is lbs.
          enum: [kg, lbs]
          examples: [lbs]
        length: 
          type: number
          description: The length of the handling units being described.
        width: 
          type: number
          description: The width of the handling units being described.
        height: 
          type: number
          description: The height of the handling units being described.
        dimensionsUnit:
          type: string
          enum: [In, Ft, M, CM]
          description: Indicates the length unit of measure. Values are In (inches), Ft (feet), M (meters), or CM (centimeters).
          examples: [In, Ft, M, CM]
        stackable:
          type: boolean
          default: false
          description: Indicates whether the freight is stackable.  Values are true or false. The default is false.

    ShipmentStatusVerifiedTerminalInfo:
      type: [object, 'null']
      required:
        - TerminalID
      properties:
        TerminalID:
          type: [string, 'null']
          description: The Carrier-specific terminal ID.
        AddressLine1:
          type: [string, 'null']
          description: The primary address line for the terminal's address.
        AddressLine2:
          type: [string, 'null']
          description: The secondary address line for the terminal's address.
        City: 
          type: [string, 'null']
          description: The city for the terminal's address.
        State:
          type: [string, 'null']
          description: The two-letter state code for the terminal's address.
        PostalCode:
          type: [string, 'null']
          description: The 5-digit + 4 or 5-digit for the United States, 5-digit for Mexico, or 6-character for Canada, postal code for the location.
            Valid formats
             * 12345-1234 (5 digits + 4 - USA)
             * 12345 (5 digits - USA/MEX)
             * A1A1A1 (6 characters - CAN)
        Country:
          type: [string, 'null']
          enum: [CAN, MEX, USA]
          description: The country (CAN, MEX, USA) for the terminal's address.
        ContactName: 
          type: [string, 'null']
          description: The contact name for the terminal.
        PhoneNumber:
          type: [string, 'null']
          description: The phone number for the terminal's contact.
        EmailAddress:
          type: [string, 'null']
          description: The email address for the terminal's contact.
        TerminalStatus:
          type: [string, 'null']
          enum: [Arrived, Unloaded, Loaded, Departed]
          description: Indicates the status (Arrived, Unloaded, Loaded, Departed) at the terminal.

    
    Notification_DeliveryUpdate:
      type: object
      description: This message provides verified stakeholders proactive alerts on a shipments physical movements. Updates included in the message are dependent on carriers capabilities. Carriers that can send more information are always encouraged to do so.
      required:
        - proNumber
        - shipmentReferenceNumbers
        - shipmentMilestoneStatus
        - TimeZoneOfShipment
        - UpdatedETA
        - notificationMessage
      properties:
        proNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        shipmentReferenceNumbers:
          $ref: '#/components/schemas/ShipmentStatusReferenceNumbers'
        shipmentMilestoneStatus:
          description: note "Delivered" status should not be triggered until shipment is in custody of final consignee. "Interline" is the correct status for transfer to Interline partner carrier if detailed milestones are unavailable.
          type: string
          enum: [Picked-up, In Transit, Interline, Out for Delivery, Delivered]
        TimeZoneOfShipment:
          type: [string, 'null']
          description: The time in UTC (-X format) of current location.
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date, with or without time, that the shipment is expected to be delivered.
        notificationMessage:
          type: string
          description: optional field for carriers to provide more detailed information or human-readable descriptions
        terminalStatus:
          type: string
          enum: [Arrived, Unloaded, Loaded, Departed, Damaged, Short, Lost, Reconsigned]
        terminaltype:
          type: string
          enum: [origin, intermediate, delivery, interline]
        terminalAddress:
          $ref: '#/components/schemas/ShipmentStatusVerifiedTerminalInfo'
        trailerNumber:
          type: [string, 'null']
          description: Trailer number currently transporting shipment. 
        countsToDelivery:
          description: Applies only when shipmentMilestoneStatus is Out for Delivery. Trigger proactive notification updates. Starting from within 3 Stops from Shipment Delivery Indicate the number of stops until that order delivery is scheduled. No timing estimates nor mileage only the number of stops. Update the count down from 3 to 2 to 1.
          type: integer
          example: [3, 2, 1]
        UpdatedPro:
          type: [string, 'null']
          description: Additional PRO associated with the shipment. Examples include new PRO due to reconsignment or partner carrier PRO for interline.
        PartnerCarrierName:
          type: [string, 'null']
          description: |
            Required if ShipmentMilestone = Interline or if shipment has been handed off to an Interline carrier.
            The Interline or Agent Carrier's Name.
        PartnerCarrierSCAC:
          type: [string, 'null']
          description: |
            Required if ShipmentMilestone = Interline or if shipment has been handed off to an Interline carrier.
            The Interline or Agent Carrier's SCAC.


    Notification_DeliveryInformation:
      type: object
      description: This message provides verified stakeholders proactive informational alerts not related to a shipments shipmentMilestoneStatus.
      required:
        - proNumber
        - shipmentReferenceNumbers
        - deliveryInformation_messages
      properties:
        proNumber:
          type: string
          description: The carrier assigned Pro Number associated with the shipment.
        shipmentReferenceNumbers:
          $ref: '#/components/schemas/ShipmentStatusReferenceNumbers'
        TimeZoneOfShipment:
          type: [string, 'null']
          description: The time in UTC (-X format) of current location.
        UpdatedETA:
          type: string
          format: date-time
          description: The updated date, with or without time, that the shipment is expected to be delivered.
        deliveryInformation_messages:
          type: string
          description: valid messages for notification_deliveryInformation webhook
          enum: [POD available, Noted late, Accessorial added, Noted reweigh, Appointment Update, Missed delivery, Customs information]
        delayedReasonCode:
          type: string
          description: See DelayReasonCodes below for valid values.
        appointmentDate:
          type: string
          format: date-time
        appointmentStatus:
          type: string
          enum: [appointment scheduled, appointment rescheduled, appointment missed]
        utcOffset:
          type: string
        terminalStatus:
          type: string
          enum: [Arrived, Unloaded, Loaded, Departed, Damaged, Short, Lost, Reconsigned]
        responsibleParty:
          type: string
          description: e.g., Customer Error
        majorStatusCategory:
          type: string
          description: e.g., Closed Shipment
        generalDescription:
          type: string
          description: e.g., Delivery Request Cancelled
        carrierSpecificDescription:
          type: string
          description: e.g., Customer Request Cancelled
        customsAgent:
          $ref: '#/components/schemas/CustomsAgentBroker'
        customsStatus:
          type: [string, 'null']
          enum: [Broker Identified, Bond, Hold, Cleared Customs]
        customsEntryNumber:
          type: [string, 'null']
          description: The entry number assigned by the customs agency. (if available)


    CustomsAgentBroker:
      type: object
      properties:
        type:
          type: string
          description: |
            Used to identify a customs broker that is involved in a cross-border freight move.
            Valid Values: Import or Export
              * Import: customs broker handling the destination-side of the cross-border freight move
              * Export: customs broker handling the origin-side of the cross-border freight move
          enum: [Import, Export]
        name:
          type: string
          description: Company name associated with the customsBroker location.
          examples: ["Closets Closets Closets"]
        address1:
          type: string
          description: Primary Address line for the customsBroker location
          examples: ["12 S. Closets Place"]
        address2:
          type: string
          description: Secondary Address line for the customsBroker location
          examples: ["ste 3"]
        city:
          type: string
          description: City Name for the customsBroker location
          examples: ["Los Angeles"]
        stateProvince:
          type: string
          description: |
            Two letter state/province code for the customsBroker location.
          examples: [CA]
        postalCode:
          type: string
          examples: ['90001']
          description: >
            The 5-digit + 4 or 5-digit for the United States, 5-digit for Mexico, or 6-character for Canada, postal code for the location.
            Valid formats
             * 12345-1234 (5 digits + 4 - USA)
             * 12345 (5 digits - USA/MEX)
             * A1A1A1 (6 characters - CAN)
        country:
          type: string
          examples: ["USA"]
          description: |
            Three letter country code for the customsBroker location.
        contact:
          type: object
          description: |
            Object containing contact details for the customsBroker.
          required:
            - phone
          properties:
            phone:
              type: string
              examples: ['5552226666']
              description: >
                Ten digit phone number, without country code and/or dashes,
                for the customsBroker location's contact person.


                Valid Formats:
                * ########## (10 digits - Area code + phone)
            phoneExt:
              type: string
              examples: ['99']
              description: >-
                Phone extension for the customsBroker location's contact
                person.
            name:
              type: string
              examples: ['Jay Pritchett']
              description: Name of the customsBroker location's contact person.
            email:
              type: string
              examples: [jpritchett@closets.com]
              description: >-
                Email address of the customsBroker location's contact
                person.

    AccessorialCodes:
      type: array
      description: |

        Valid values:
          <pre>
          * APTD     - Appointment required at delivery
          * APTP     - Appointment required at pickup
          * COD      - Collect on delivery
          * EXPD     - Expedited Service
          * FVC      - Full value coverage
          * GTD_AM   - Guaranteed service - by Morning
          * GTD_NOON - Guaranteed service - by Noon
          * GTD_PM   - Guaranteed service - by End of Day
          * HAZ      - Hazardous material
          * IDL      - Inside delivery
          * INBD     - In bond shipment
          * IPU      - Inside pickup
          * LFTD     - Lift gate required at delivery
          * LFTP     - Lift gate required at pickup
          * LTDAD    - Limited access delivery
          * LTDAP    - Limited access pickup
          * MARK     - Marked or tagged
          * MNC      - Must notify consignee
          * OVR      - Over dimension/excessive length
          * PPD      - Perishables (food)
          * PSC      - Protective from cold
          * PSH      - Protective from heat
          * PSN      - Poisonous material
          * REP      - Residential pickup
          * RES      - Residential delivery
          * SRT      - Sort and segregate
          * SS       - Single Shipment
          * TCS      - Time Critical Service
          </pre>

    LimitedAccessTypes:
      type: string
      description: |
        
        Valid Values:
          <pre>
          * Airport
          * Airport-3 - Airport Cargo
          * Church
          * Church-55 - Place of Worship
          * Club
          * Club-21 - Country Club / Golf Course
          * Club-60 - Private Club
          * Construction
          * Construction-17 - Construction Site
          * Fair
          * Fair-27 - Fairgrounds
          * Farm
          * Farm-30 - Fruit Orchard
          * Farm-62 - Pumpkin Patch / Vegetable Patch
          * Farm-87 - Winery
          * Hotel
          * Hotel-14 - Casino
          * Hotel-35 - Hotel
          * Hotel-41 - Lodging
          * Hotel-47 - Motel / Inn
          * Hotel-54 - Parking Lot / Garage
          * Hotel-65 - Resort
          * Hotel-66 - Restaurant / Bar
          * Mine
          * Mine-46 - Mine / Quarry
          * Other
          * Other-6 - Book Store
          * Other-7 - Bowling Alley
          * Other-8 - Brewery
          * Other-9 - Business Park
          * Other-12 - Car Rental
          * Other-13 - Car Wash
          * Other-19 - Convenience Store
          * Other-23 - Daycare
          * Other-24 - Dealership
          * Other-25 - Distillery
          * Other-26 - Factory Outlet
          * Other-28 - Fast Food
          * Other-31 - Funeral Home
          * Other-33 - Gym / Fitness Center
          * Other-38 - Laundry / Dry Cleaner
          * Other-40 - Liquor Store
          * Other-42 - Mall
          * Other-48 - Native American Reservation
          * Other-52 - Other
          * Other-67 - Retail Store
          * Other-68 - Salon / Barber
          * Other-72 - Shopping Center
          * Other-75 - Specialty Food Store
          * Other-78 - Theater
          * Other-80 - Truck Stop
          * Other-83 - Vet / Kennel
          * Park
          * Park-4 - Amusement Park
          * Park-5 - Aquarium
          * Park-10 - Camp
          * Park-11 - Campground / RV Park
          * Park-15 - Cemetery
          * Park-53 - Park
          * Park-64 - Recreational
          * Park-73 - Ski Resort
          * Park-76 - Sports Venue
          * Park-77 - State / National Park
          * Park-88 - Zoo
          * Port
          * Port-22 - Cruise Line Terminal
          * Port-29 - Ferry
          * Port-43 - Marina
          * Port-57 - Port
          * School
          * School-34 - Hospital
          * School-36 - Junior College
          * School-39 - Library / Museum
          * School-44 - Medical Facility
          * School-50 - Nursing Home / Assisted Living
          * School-56 - Police / Fire / Rescue
          * School-61 - Public Transit Station
          * School-69 - School
          * School-70 - School District Office
          * School-79 - Trade School
          * School-81 - University / College
          * Secure
          * Secure-32 - Government Site
          * Secure-37 - Junkyard / Landfill
          * Secure-45 - Military Base
          * Secure-49 - Nuclear Power Plant
          * Secure-51 - Oil / Gas
          * Secure-58 - Power Plant
          * Secure-59 - Prison / Detention Center
          * Secure-63 - Rail Yard
          * Secure-74 - Solar Power Farm
          * Secure-82 - Utility Site
          * Secure-84 - Waste Transfer Station
          * Secure-85 - Water Treatment Plant
          * Secure-86 - Wind Power Farm
          * Storage
          * Storage-18 - Container Freight Station
          * Storage-71 - Self Storage Warehouse
          * Tradeshow
          * Tradeshow-16 - Conference Center
          * Tradeshow-20 - Convention Center
          </pre>

    TimeCriticalTypes:
      type: string
      description: |
        Valid Values:
          * Deliver On Date Freight can only be delivered on the specified start date.
          * Deliver On or After Date Freight can only be delivered on or after the specified start date.
          * Deliver By Date Freight can only be delivered up to, and including, the specified start date.
          * Delivery Window Freight can only be delivered between the specified start and end dates.
      enum: [Deliver On Date, Deliver On or After Date, Deliver By Date, Delivery Window]

    TimeCriticalInfo:
      type: object
      description: Time critical info.
      properties: 
        date:
          type: [string, 'null']
          format: date-time
          description: TC Date may or may not be included.
        windowStart:
          type: [string, 'null']
          format: time
          description: TC Start Time of Window.
        windowEnd: 
          type: [string, 'null']
          format: time
          description: TC End Time of Window.


    PackagingTypes:
      type: string
      description: |

        Valid values:
          <pre>
          * BAG - Bag
          * BAL - Bale
          * BBL - Barrel
          * BSK - Basket
          * BIN - Bin
          * BOX - Box
          * BXT - Bucket
          * BCH - Bunch
          * BDL - Bundle
          * CAB - Cabinet
          * CAG - Cage
          * CAN - Can
          * CBY - Carboy
          * CAR - Carrier
          * CTN - Carton
          * CAS - Case
          * CSK - Cask
          * CHS - Chest
          * COL - Coil
          * CNT - Container
          * COR - Cores
          * CRT - Crate
          * CYL - Cylinder
          * DRM - Drum
          * DBK - Dry Bulk
          * ENV - Envelope
          * FIR - Firkin
          * GLD - Gaylord
          * HPR - Hamper
          * HGH - Hogshead
          * HRB - On Hanger or Rack in Boxes
          * INT - Intermediate Bulk Container
          * JAR - Jar
          * JCN - Jerrycan
          * KEG - Keg
          * KIT - Kit
          * LIF - Lifts
          * LBK - Liquid Bulk
          * LSE - Loose
          * MXD - Mixed
          * OTH - Other
          * PKG - Package
          * PCK - Packed
          * PAL - Pail
          * PAT - Pallet
          * PCS - Piece
          * PLN - Pipe Line
          * RCK - Rack
          * REL - Reel
          * ROL - Roll
          * SKD - Skid
          * SLP - Slip Sheet
          * SPL - Spool
          * TNK - Tank
          * TBN - Tote
          * TRY - Tray
          * TRU - Truckload
          * TRK - Trunk
          * TUB - Tub
          * TBE - Tube
          * UNT - Unit
          * VPK - Van Pack
          * WRP - Wrapped
          </pre>

    HandlingUnitTypes:
      description: |

        Valid values:
          <pre>
          * BAG - Bag
          * BAL - Bale
          * BBL - Barrel
          * BSK - Basket
          * BIN - Bin
          * BOX - Box
          * BXT - Bucket
          * BCH - Bunch
          * BDL - Bundle
          * CAB - Cabinet
          * CAG - Cage
          * CAN - Can
          * CBY - Carboy
          * CAR - Carrier
          * CTN - Carton
          * CAS - Case
          * CSK - Cask
          * CHS - Chest
          * COL - Coil
          * CNT - Container
          * COR - Cores
          * CRT - Crate
          * CYL - Cylinder
          * DRM - Drum
          * DBK - Dry Bulk
          * ENV - Envelope
          * FIR - Firkin
          * GLD - Gaylord
          * HPR - Hamper
          * HGH - Hogshead
          * HRB - On Hanger or Rack in Boxes
          * INT - Intermediate Bulk Container
          * JAR - Jar
          * JCN - Jerrycan
          * KEG - Keg
          * KIT - Kit
          * LIF - Lifts
          * LBK - Liquid Bulk
          * LSE - Loose
          * MXD - Mixed
          * OTH - Other
          * PKG - Package
          * PCK - Packed
          * PAL - Pail
          * PAT - Pallet
          * PCS - Piece
          * PLN - Pipe Line
          * RCK - Rack
          * REL - Reel
          * ROL - Roll
          * SKD - Skid
          * SLP - Slip Sheet
          * SPL - Spool
          * TNK - Tank
          * TBN - Tote
          * TRY - Tray
          * TRU - Truckload
          * TRK - Trunk
          * TUB - Tub
          * TBE - Tube
          * UNT - Unit
          * VPK - Van Pack
          * WRP - Wrapped
          </pre>

    DelayReasonCodes:
      type: string
      description: |

        Valid Values:
          <pre>
          * 100-1   - Success - Delivered Full and Complete
          * 100-2   - Success - Delivered Full and Complete within Appointment
          * 200-1   - Delivery made with exception - Delivered with superficial damage
          * 200-2   - Delivery made with exception - Delivered with noted product damage
          * 200-3   - Delivery made with exception - Delivered Short
          * 200-4   - Delivery made with exception - Waiting on Inspection
          * 310-1   - Carrier not able to service - Area not serviced today
          * 310-2   - Carrier not able to service - Equipment Breakdown
          * 310-3   - Carrier not able to service - Customer request to reschedule
          * 310-4   - Carrier not able to service - Dispatch error
          * 310-5   - Carrier not able to service - Driver cut off
          * 310-6   - Carrier not able to service - End of day
          * 310-7   - Carrier not able to service - Delivery terminal capacity constraint
          * 310-8   - Carrier not able to service - Accident
          * 310-9   - Carrier not able to service - Bad Address Data
          * 310-10  - Carrier not able to service - Hold For Payment
          * 320-1   - Appointment Issue - Need Contact Information
          * 320-2   - Appointment Issue - Need Appointment Number
          * 320-3   - Appointment Issue - Pending consolidation to full trailer
          * 320-4   - Appointment Issue - Left message requesting appointment
          * 390-1   - Weather - Inclement weather
          * 390-2   - Civil Event - Civil Event
          * 330-1   - Consignee Closed - Consignee closed - reschedule
          * 330-2   - Consignee Closed - Consignee closed due to holiday (dispatcher)
          * 330-3   - Consignee Closed - Consignee closed due to holiday (driver)
          * 450-1   - Duplicate - Duplicate delivery (dispatcher)
          * 450-2   - Duplicate - Duplicate delivery (driver)
          * 400-1   - Delivery request cancelled - Consignee closed - cancel
          * 400-2   - Delivery request cancelled - Customer request to hold at terminal
          * 400-3   - Delivery request cancelled - Customer request to cancel
          * 410-1   - Carrier not able to service - Embargo/capacity constraint
          * 410-2   - Carrier not able to service - Equipment not available
          * 440-1   - Prohibited Items - Prohibited or restricted freight (dispatcher)
          * 440-2   - Prohibited Items - Prohibited or restricted freight (driver)
          * 430-1   - Consignee Closed - Consignee closed due to strike (dispatcher)
          * 430-2   - Consignee Closed - Consignee closed due to strike (driver)
          * 460-1   - Unable to Access Consignee - Unable to access delivery location
          * 460-2   - Unable to Access Consignee - Unable to contact Consignee for appointment
          * 460-3   - Unable to Access Consignee - Refused Delivery
          </pre>

tags:
  - name: Verified Shipment Status Queries
    description: Get shipment information with an identifying number by a verified account.

  - name: Notifications
    description: Subscribe/unsubscribe shipment notifications to webhook.

  - name: Public Shipment Status Queries
    description: Get shipment information with an identifying number.